<header class="header">
  <div class="container">
    <div class="header__container">
      <!--      <div class="header__menu">-->
      <nav class="style-4">
        <ul class="menu-4">
          <li><a [routerLink]="''" data-hover="Trang chủ">Trang chủ</a></li>
          <li><a href="#" data-hover="Giới thiệu ">Giới thiệu</a></li>
          <li><a [routerLink]="'/chinhsach'" data-hover="Chính sách">Chính sách</a></li>
          <li><a href="#" data-hover="Dịch vụ">Dịch vụ</a></li>
          <li><a [routerLink]="'/product/list'" data-hover="Sản phẩm">Sản phẩm</a></li>
          <li><a [routerLink]="'/book'" data-hover="Đặt lịch">Đặt lịch</a></li>

        </ul>
      </nav>
      <!--      </div>-->
      <div class="header__login">

      </div>
    </div>
  </div>
</header>
<div class="header2">
  <div class="container">
    <div class="row header2__container">
      <div class="col-2 header__logo">
        <img src="assets/images/logo.png" alt="">
      </div>
      <div class="col-7 header__search">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="input-group">
              <input class="form-control border-end-0 border" type="search" placeholder="Tìm kiếm"
                     id="example-search-input">
              <span class="input-group-append">
                                    <button class="btn btn-outline-secondary bg-white border-start-0  border ms-n5"
                                            type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 header__account">
        <div class="row">
          <div class="col-6 ac">

            <div class="dropdown">
              <a class="dropbtn" (click)="showBought()"><img src="assets/images/account.svg" alt="" class="icon">Tài khoản</a>
              <div class="dropdown-content">
                <a (click)="showUser()">Thông tin cá nhân</a>
                <a (click)="showLogin()">Đăng nhập</a>
                <a (click)="showRegister()">Đăng ký</a>
                <a (click)="showDangxuat()">Đăng xuất</a>
              </div>
            </div>
          </div>
          <div class="col-6 lineDoc">
            <a (click)="showCart()"> <img src="assets/images/header-cart.svg" alt="" class="icon"> Giỏ hàng</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
