
<header class="header">
  <div class="container">
    <div class="header__container">
      <!--      <div class="header__menu">-->
      <nav class="style-4">
        <ul class="menu-4">
          <li><a href="#"  data-hover="Home">Home</a></li>
          <li><a href="#" data-hover="About Us">About Us</a></li>
          <li><a href="#" data-hover="Blog">Blog</a></li>
          <li><a href="#" data-hover="Services">Services</a></li>
          <li><a (click)="showProduct()" data-hover="Products">Products</a></li>
          <li><a href="#" data-hover="Contact">Contact</a></li>
        </ul>
      </nav>
      <!--      </div>-->
      <div class="header__login">
        <a href="">Language </a>
        <div class="header__login-2"><a>Currency </a></div>
      </div>
    </div>
  </div>
</header>
<div class="header2">
  <div class="container">
    <div class="row header2__container">
      <div class="col-2 header__logo">
        <img src="assets/images/logo.png" alt="">
      </div>
      <div class="col-7 header__search">
        <div class="row">
          <div class="col-md-12 mx-auto">
            <div class="input-group">
              <input class="form-control border-end-0 border" type="search" value="search" id="example-search-input">
              <span class="input-group-append">
                                    <button class="btn btn-outline-secondary bg-white border-start-0  border ms-n5" type="button">
                                        <i class="fa fa-search"></i>
                                    </button>
                                </span>
            </div>
          </div>
        </div>
      </div>
      <div class="col-3 header__account">
        <div class="row">
          <div class="col-6 ac">
            <img src="assets/images/account.svg" alt="">
            <a (click)="showBought()"> Accounts</a>
          </div>
          <div class="col-6 lineDoc">
            <img src="assets/images/header-cart.svg" alt="">
            <a (click)="showCart()"> Cart</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
