<div class="user">
  <img src="../../../../../assets/images/User.jpg" alt="" style="height: 40px; width:40px;">
  <p class="nameuser">Do Duc Toan</p>
</div>
<hr>
<div class="userManager">
  <div class="userManager__info flex">
    <img src="../../../../../assets/images/userrr.png" alt="">
    <p><a (click)="qlAccount()" >Tài Khoản Của Tôi</a></p>
  </div>
  <div class="userManager__order flex">
    <img src="../../../../../assets/images/carttttttttt.png" alt="">
    <p><a (click)="bought()">Đơn mua</a></p>
  </div>
  <div class="userManager__notify flex">
    <img src="../../../../../assets/images/change.png" alt="">
    <p><a (click)="change()">Đổi mật khẩu</a></p>
  </div>
  <div class="userManager__voucher flex">
    <img src="../../../../../assets/images/voucher.png" alt="">
    <p><a href="">Voucher</a></p>
  </div>

</div>
