<app-header></app-header>
<!-- Shopping Cart -->
<div class="shopping-cart section">
  <div class="container" *ngIf="nodata ;else nodata">
    <div class="row">
      <div class="col-12">
        <!-- Shopping Summery -->
        <table class="table shopping-summery">
          <thead>
          <tr class="main-hading">
            <th>Hình ảnh</th>
            <th>Sản phẩm</th>
            <th>Kích thước</th>
            <th class="text-center">Giá</th>
            <th class="text-center">Số lượng</th>
            <th class="text-center">Thành tiền</th>
            <th class="text-center"><i class="fa-solid fa-trash"></i></th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let cart of carts">
            <td class="image" data-title="No"><img [src]="cart.image" alt="#"></td>
            <td class="product-des" data-title="Description">
              <p class="product-name"><a href="#"></a></p>
              {{cart.productName}}
              <p class="product-des">Mô tả sản phẩm</p>
            </td>
            <td>{{cart.sizeName}}</td>
            <td class="price" data-title="Price"><span>{{cart.price+'' | number}}</span></td>
            <td class="qty" data-title="Qty"><!-- Input Order -->
              <div class="input-group">
                <div class="button minus">
                  <button type="button" class="btn btn-primary btn-number" (click)="minusQuantity(cart)" data-type="minus" data-field="quant[1]">
                    <i class="fa-solid fa-minus"></i>
                  </button>
                </div>
                <input type="text" name="quant[1]" class="input-number" readonly data-min="1" data-max="100" value="1" [(ngModel)]="cart.amount">
                <div class="button plus">
                  <button type="button" class="btn btn-primary btn-number" (click)="addQuantity(cart)" data-type="plus" data-field="quant[1]">
                    <i class="fa-solid fa-plus"></i>
                  </button>
                </div>
              </div>
              <!--/ End Input Order -->
            </td>
            <td class="total-amount" data-title="Total"><span>{{intoMoney(cart.price,cart.amount)+''| number}}</span></td>
            <td class="action" data-title="Remove"><a (click)="delete(cart)"><i class="fa-solid fa-trash"></i></a></td>
          </tr>
          </tbody>
        </table>
        <!--/ End Shopping Summery -->
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <!-- Total Amount -->
        <div class="total-amount">
          <div class="row">
            <div class="col-lg-12 col-md-5">
              <div class="left">
                <div class="coupon">
                  <form [formGroup]="form" action="#" target="_blank">
                    <nz-select
                      formControlName="eventId"
                      nzAllowClear
                      [nzPlaceHolder]="'Mã giảm giá'"
                      (ngModelChange)="getTotal($event)"
                      nzBorderless
                    >
                      <ng-container *ngFor="let event of events"                       style="border: none;"
                      >
                        <nz-option
                          [nzValue]="event.eventId"
                          [nzLabel]="event.name + ' - ' + 'Giảm ' + event.discount + '%'"
                        ></nz-option>
                      </ng-container>
                    </nz-select>
                  </form>
                </div>
              </div>
            </div>
          </div>
          <div class="row ">
            <div class="col-lg-8 col-md-5 col-12">
              <div class="nav nav-tabs" id="nav-tab" role="tablist">
                <p>Phương thức thanh toán </p>
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="pay" id="flexRadioDefault1" [value] ="PaymentMethod.CARD" [(ngModel)]="pay">-->
<!--                  <label class="form-check-label" for="flexRadioDefault1">-->
<!--                    Thanh toán qua thẻ-->
<!--                  </label>-->
<!--                </div>-->
<!--                <div class="form-check">-->
<!--                  <input class="form-check-input" type="radio" name="pay" id="flexRadioDefault2" [value] ="PaymentMethod.MONEY" [(ngModel)]="pay">-->
<!--                  <label class="form-check-label" for="flexRadioDefault2" value="OFF">-->
<!--                    Thanh toán khi nhận hàng-->
<!--                  </label>-->
<!--                </div>-->
                <div class="radio-tile-group">
                  <div class="input-container">
                    <input id="walk" class="radio-button" type="radio"  name="pay" [value] ="PaymentMethod.CARD" [(ngModel)]="pay"/>
                    <div class="radio-tile">
                      <label for="walk" class="radio-tile-label">Ngân hàng</label>
                    </div>
                  </div>
                  <div class="input-container">
                    <input id="bike" class="radio-button" type="radio"  name="pay" [value] ="PaymentMethod.MONEY" [(ngModel)]="pay" />
                    <div class="radio-tile">
                      <label for="bike" class="radio-tile-label">Khi nhận hàng</label>
                    </div>
                  </div>
                </div>
              </div>
              <br>
              <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active description" id="nav-home" role="tabpanel"
                     aria-labelledby="nav-home-tab">
                  <div class="row">
                    <div class="col-lg-4 mb-lg-0 mb-3">
                      <div class="card p-3">
                        <div class="img-box">
                          <img src="https://www.freepnglogos.com/uploads/visa-logo-download-png-21.png" alt="">
                        </div>
                        <div class="number">
                          <label class="fw-bold" >**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                          <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-3">
                      <div class="card p-3">
                        <div class="img-box">
                          <img src="https://www.freepnglogos.com/uploads/mastercard-png/file-mastercard-logo-svg-wikimedia-commons-4.png"
                               alt="">
                        </div>
                        <div class="number">
                          <label class="fw-bold">**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                          <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                        </div>
                      </div>
                    </div>
                    <div class="col-lg-4 mb-lg-0 mb-3">
                      <div class="card p-3">
                        <div class="img-box">
                          <img src="https://www.freepnglogos.com/uploads/discover-png-logo/credit-cards-discover-png-logo-4.png"
                               alt="">
                        </div>
                        <div class="number">
                          <label class="fw-bold">**** **** **** 1060</label>
                        </div>
                        <div class="d-flex align-items-center justify-content-between">
                          <small><span class="fw-bold">Expiry date:</span><span>10/16</span></small>
                          <small><span class="fw-bold">Name:</span><span>Kumar</span></small>
                        </div>
                      </div>
                    </div>
                    <div class="col-12 mt-4">
                      <div class="card p-3">
                        <p class="mb-0 fw-bold h4">Payment Methods</p>
                      </div>
                    </div>
                    <div class="col-12">
                      <div class="card p-3">
                        <div class="card-body border p-0">
                          <p>
                            <a class="btn btn-primary w-100 h-100 d-flex align-items-center justify-content-between"
                               data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="true"
                               aria-controls="collapseExample">
                              <span class="fw-bold">PayPal</span>
                              <span class="fab fa-cc-paypal">
                                </span>
                            </a>
                          </p>
                          <div class="collapse p-3 pt-0" id="1">
                            <div class="row">
                              <div class="col-8">
                                <p class="h4 mb-0">Summary</p>
                                <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">: Name of
                                            product</span></p>
                                <p class="mb-0"><span class="fw-bold">Price:</span><span
                                  class="c-green">:$452.90</span></p>
                                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                  nihil neque
                                  quisquam aut
                                  repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                  quis,
                                  iste harum ipsum hic, nemo qui!</p>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="card-body border p-0">
                          <p>
                            <a class="btn btn-primary p-2 w-100 h-100 d-flex align-items-center justify-content-between"
                               data-bs-toggle="collapse" href="#collapseExample1" role="button" aria-expanded="true"
                               aria-controls="collapseExample">
                              <span class="fw-bold">Credit Card</span>
                              <span class="">
                                    <span class="fab fa-cc-amex"></span>
                                    <span class="fab fa-cc-mastercard"></span>
                                    <span class="fab fa-cc-discover"></span>
                                </span>
                            </a>
                          </p>
                          <div class="collapse show p-3 pt-0" id="collapseExample">
                            <div class="row">
                              <div class="col-lg-5 mb-lg-0 mb-3">
                                <p class="h4 mb-0">Summary</p>
                                <p class="mb-0"><span class="fw-bold">Product:</span><span class="c-green">: Name of
                                            product</span>
                                </p>
                                <p class="mb-0">
                                  <span class="fw-bold">Price:</span>
                                  <span class="c-green">:$452.90</span>
                                </p>
                                <p class="mb-0">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque
                                  nihil neque
                                  quisquam aut
                                  repellendus, dicta vero? Animi dicta cupiditate, facilis provident quibusdam ab
                                  quis,
                                  iste harum ipsum hic, nemo qui!</p>
                              </div>
                              <div class="col-lg-7">
                                <form action="" class="form">
                                  <div class="row">
                                    <div class="col-12">
                                      <div class="form__div">
                                        <input type="text" class="form-control" placeholder=" ">
                                        <label  class="form__label">Card Number</label>
                                      </div>
                                    </div>

                                    <div class="col-6">
                                      <div class="form__div">
                                        <input type="text" class="form-control" placeholder=" ">
                                        <label class="form__label">MM / yy</label>
                                      </div>
                                    </div>

                                    <div class="col-6">
                                      <div class="form__div">
                                        <input type="password" class="form-control" placeholder=" ">
                                        <label  class="form__label">cvv code</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="form__div">
                                        <input type="text" class="form-control" placeholder=" ">
                                        <label class="form__label">name on the card</label>
                                      </div>
                                    </div>
                                    <div class="col-12">
                                      <div class="btn btn-primary w-100">Sumbit</div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

            </div>
            <div class="col-lg-4 col-md-7 col-12 thanhtoan">
              <div class="right">
                <ul>
                  <li>Tổng tiền<span>{{total +'' | vnd}}</span></li>
                  <li>Phí vận chuyển<span>{{this.shipMoney+'' | vnd}}</span></li>
                  <li>Giảm giá: <span class="fw-bold">{{this.discount + '%'}}</span></li>
                  <li class="last">You Pay<span>{{this.total - (this.total * this.discount/100) +this.shipMoney +'' | vnd}}</span></li>
                </ul>
                <div class="button5">
                  <a (click)="createOrder()" class="btn">Checkout</a>
                  <a href="#" class="btn">Continue shopping</a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--/ End Total Amount -->
      </div>
    </div>
  </div>
</div>

<ng-template #nodata>
  <div class="cart-empty">
    <img class="img-empty" src="assets/images/empty-cart.png">
    <button [routerLink]="''"  class="continue-shoping">Mua hàng</button>
  </div>
</ng-template>
<app-footer></app-footer>
