<app-header></app-header>
<div class="container">
  <div class="row donmua">
    <div class="col-2 info__account">
    <app-menu-user></app-menu-user>
    </div>
    <div class="col-10 info__product">
      <div class="menu">
        <ul>
          <li><a href="#">Tất cả</a></li>
          <li><a  (click)="showWaitConfirm()">Chờ xác nhận</a></li>
          <li><a  (click)="showWaitGoods()">Chờ lấy hàng </a></li>
          <li><a href="#" >Đang giao</a></li>
          <li><a href="#" >Đã giao</a></li>
          <li><a href="#" >Đã hủy</a></li>
          <li><a (click)="showChange()">Hàng đổi</a></li>
        </ul>
      </div>

      <div class="order">
        <div class="product">
          <div class="product__title">
            <h5>Hàng USA chuẩn Javihey</h5>
            <p>Chờ xác nhận</p>
          </div>
          <div class="product__item row">
            <div class="col-1 image">
              <img src="../../../../../assets/images/icon2.jpg" alt="">
            </div>
            <div class="col-9 info">
              <p>Dây chuyền vàng cao cấp phái mạnh</p>
              <p class="text--small">Phân loại: Vàng trắng</p>
              <p>x1</p>
            </div>
            <div class="col-1 price">
              <p>41.000đ</p>
            </div>
          </div>
          <hr>
          <div class="product__item row">
            <div class="col-1 image">
              <img src="../../../../../assets/images/icon2.jpg" alt="">
            </div>
            <div class="col-9 info">
              <p>Dây chuyền vàng cao cấp phái mạnh</p>
              <p class="text--small">Phân loại: Vàng trắng</p>
              <p>x1</p>
            </div>
            <div class="col-1 price">
              <p>41.000đ</p>
            </div>
          </div>
        </div>
        <div class="total">
          <div class="total__price">
            <p> Tổng tiền : <span>150.000đ</span> </p>
          </div>
          <div class="total__button">
            <a href="#">Mua lại</a>
            <a routerLink="refund">Trả Hàng</a>
          </div>
        </div>

      </div>
      <div class="order">
        <div class="product">
          <div class="product__title">
            <h5>Hàng USA chuẩn Javihey</h5>
            <p>Đã giao</p>
          </div>
          <div class="product__item row">
            <div class="col-1 image">
              <img src="../../../../../assets/images/icon2.jpg" alt="">
            </div>
            <div class="col-9 info">
              <p>Dây chuyền vàng cao cấp phái mạnh</p>
              <p class="text--small">Phân loại: Vàng trắng</p>
              <p>x1</p>
            </div>
            <div class="col-1 price">
              <p>41.000đ</p>
            </div>
          </div>
          <hr>
          <div class="product__item row">
            <div class="col-1 image">
              <img src="../../../../../assets/images/icon2.jpg" alt="">
            </div>
            <div class="col-9 info">
              <p>Dây chuyền vàng cao cấp phái mạnh</p>
              <p class="text--small">Phân loại: Vàng trắng</p>
              <p>x1</p>
            </div>
            <div class="col-1 price">
              <p>41.000đ</p>
            </div>
          </div>
        </div>
        <div class="total">
          <div class="total__price">
            <p> Tổng tiền : <span>150.000đ</span> </p>
          </div>
          <div class="total__button">
            <a href="#">Mua lại</a>
            <a>Trả Hàng</a>
          </div>
        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer>
</div>
