body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;

}

li {
  list-style: none;
}

.container {
  width: 1400px;
  margin: auto;
  margin-top: 50px;
  padding: 0;
}

ul li {
  list-style: none;
  font-size: 20px;
}

ul {
  padding: 0;
}

a:hover {
  color: black;
}


.btn {
  background-color: #01996D;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 20px;
}

/* ------------------slide ------------- */
.body {
  margin-top: 40px;
}

.body__aside {
  flex: 3;
}

.body__aside .accordion-flush {
  border: 1px solid #e5e5e5;
}

.body__article img {
  width: 100%;

}



/* --------------- */

.slide__text {
  width: 24%;
  top: 230px;
  left: 270px;
  position: absolute;
}

.slide__text--big {
  font-size: 30px;
  color: #01996D;
}

.slide__text--small p {

  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #484848;
}

.slide__text--button {
  padding-top: 30px;
}


/* ---------------aside--------------- */
.card-body .card1__image img {
  max-width: 100%;
}

.card {
  margin-top: 20px;
}



/* -------------------article----------------------- */
.body__article--text .infoProduct .infoProduct__property a:hover {
  color: black;
}
.body__article--image .image--big {
  max-width: 480px;
  max-height: 541px;
}
.body__article--image .image__small{
  margin: 20px 0 0 8px;

}
.body__article--image .image__small span img {
  max-width: 10px;
  margin: 10px;

}

.body__article--image .image__small img {
  max-width: 85px;
  margin: 0 5px 0 5px;
}

.body__article {
  font-family: 'Fira Sans', sans-serif;

}

.body__article--text h3 {
  color: #000;
  font-size: 30px;
  font-family: system-ui;
}

.infoProduct .infoProduct__proprety ul li {
  font-size: 15px;
  color: #666666;
  line-height: 35px;
}

.infoProduct__value a {
  color: #000
}

.infoProduct__value a:hover {
  color: #F3AE7E
}

.infoProduct__value ul li {
  font-size: 15px;
  color: #666666;
  line-height: 35px;
}

.article--text__price li h2 {
  font-size: 25px;
  font-weight: bold;

}

.article--text__price {
  display: flex;
}

.article--text__price .price--tax {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 15px;
  color: #666666;

}

#product #input-quantity {
  padding: 10px;
  margin: 0 5px;
  height: 40px;
  line-height: normal;
}

#product .form-group.cart .form-control {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: auto;
}
.form-quantity{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}

#product .form-group.cart #button-cart {
  color: #FFFFFF;
  border-radius: 50px;
  background-color: #CBB28B;
  padding: 15px 40px 15px 40px;
  font-size: 15px;
  font-weight: 650;

}

#product .form-group.cart #input-quantity {
  border: 1px solid #EDEDED;
  border-radius: 50px;
  padding: 10px;

}

#product .form-group.cart span {
  margin-left: 13px;
  font-size: 15px;
  color: #666666;

}

#product .form-group.cart hr {
  color: #666666;
  margin: 35px 0 20px 0;
}

.product__btn-group {
  margin-top: 20px;
}

.product__btn-group a {
  color: #000;
  font-size: 16px;
}

.product__btn-group a:hover {
  color: #CBB28B;
}

.product__btn-group i {
  margin-right: 10px;
}

.product__btn-group .compare {
  margin-left: 20px;
}

.addthis_toolbox.addthis_default_style {
  position: relative;
}

.addthis_toolbox.addthis_default_style .addthis_button_tweet {
  position: absolute;
  left: 140px;
  display: flex;

}
/* -----------------Review ---------------- */
.nav {
  border: none;
}
.nav .nav-link{
  border: none;
  padding-left: 0;

}
.nav button{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.nav button:hover{
  color: #CBB28B;
  text-decoration: underline;

}
.tab-pane{
  padding: 20px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: #2f2f30;
}
.review .card {
  margin: 0;
  margin-bottom: 20px;
}
.formReview {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.formReview form {
  position: relative;
}
.formReview i{
  color: red;
}
.formReview input{
  border-radius: 20px;
}
.formReview .form-check-input{
  margin: 0 15px 0 15px;
}
.checkboxReview {
  color: #666666;
  padding: 0;
  font-size: 14px;
  display: flex;
  margin-left: 20px;
  position: absolute;
  left: 50px;
  top: 2px;
}
.button{
  position: absolute;
  left: 825px;
  bottom: -10px;
  background-color: #CBB28B;
  padding: 4px 25px 4px 25px;
  border-radius: 20px;
  border: 1px solid #CBB28B;
}
.button:hover{
  background-color: #000;
}
.form-check {
  padding: 0;
  position: relative;
}

/* -------------product 1 -------- */

.product1__title {
  margin: 50px 0 20px 0;

}

.product1__title ul {
  display: flex;
  padding-left: 0;

}

.product1__title ul li a{
  color: #000;
  padding-right: 60px;

}
.product1__title ul li a:hover{
  color: #F3AE7E;

}
.product1__image .image1 p{
  color: #757575;
}

/* ------------ search ------------ */
.header2__container .header__search {
  border: 20px;

}

.ng-untouched ng-pristine ng-valid{
  display: inline;
}
/* ------------ end search ------------ */

.available {
  color: #CBB28B;
  font-size: 15px;
}

.custom-control-input {
margin-right: 5px;
}
.accordion-body div input {
  margin-right: 10px;
}
.accordion .accordion-item {
  border: none;
}
.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.isChosseRadio{
  color: #dc1645;
  font-size: 15px;
}
