body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;

}

li {
  list-style: none;
}


ul li {
  list-style: none;
  font-size: 20px;
}

ul {
  padding: 0;
}

a:hover {
  color: black;
}


.btn {
  background-color: #01996D;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 20px;
}

/* ------------------slide ------------- */
.body {
  margin-top: 40px;
}

.body__aside {
  flex: 3;
}

.body__aside .accordion-flush {
  border: 1px solid #e5e5e5;
}

.body__article img {
  width: 100%;

}



/* --------------- */

.slide__text {
  width: 24%;
  top: 230px;
  left: 270px;
  position: absolute;
}

.slide__text--big {
  font-size: 30px;
  color: #01996D;
}

.slide__text--small p {

  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #484848;
}

.slide__text--button {
  padding-top: 30px;
}


/* ---------------aside--------------- */
.card-body .card1__image img {
  max-width: 100%;
}

.card {
  margin-top: 20px;
}


/* -------------------article----------------------- */
.body__article--text .infoProduct .infoProduct__property a:hover {
  color: black;
}
.body__article--image .image--big {
  max-width: 480px;
  max-height: 541px;
}
.body__article--image .image__small{
  margin: 20px 0 0 8px;

}
.body__article--image .image__small span img {
  max-width: 10px;
  margin: 10px;

}

.body__article--image .image__small img {
  max-width: 85px;
  margin: 0 5px 0 5px;
}

.body__article {
  font-family: 'Fira Sans', sans-serif;

}

.body__article--text h3 {
  color: #000;
  font-size: 30px;
  font-family: system-ui;
}

.infoProduct .infoProduct__proprety ul li {
  font-size: 15px;
  color: #666666;
  line-height: 35px;
}

.infoProduct__value a {
  color: #000
}

.infoProduct__value a:hover {
  color: #F3AE7E
}

.infoProduct__value ul li {
  font-size: 15px;
  color: #666666;
  line-height: 35px;
}

.article--text__price li h2 {
  font-size: 25px;
  font-weight: bold;

}

.article--text__price {
  display: flex;
}

.article--text__price .price--tax {
  margin-left: 20px;
  padding-top: 5px;
  font-size: 15px;
  color: #666666;

}

#product #input-quantity {
  padding: 10px;
  margin: 0 5px;
  height: 40px;
  line-height: normal;
}

#product .form-group.cart .form-control {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: auto;
}
.form-quantity{
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  width: 100px;
}

#product .form-group.cart #button-cart {
  color: #FFFFFF;
  border-radius: 50px;
  background-color: #CBB28B;
  padding: 15px 40px 15px 40px;
  font-size: 15px;
  font-weight: 650;

}

#product .form-group.cart #input-quantity {
  border: 1px solid #EDEDED;
  border-radius: 50px;
  padding: 10px;

}

#product .form-group.cart span {
  margin-left: 13px;
  font-size: 15px;
  color: #666666;

}

#product .form-group.cart hr {
  color: #666666;
  margin: 35px 0 20px 0;
}

.product__btn-group {
  margin-top: 20px;
}

.product__btn-group a {
  color: #000;
  font-size: 16px;
}

.product__btn-group a:hover {
  color: #CBB28B;
}

.product__btn-group i {
  margin-right: 10px;
}

.product__btn-group .compare {
  margin-left: 20px;
}

.addthis_toolbox.addthis_default_style {
  position: relative;
}

.addthis_toolbox.addthis_default_style .addthis_button_tweet {
  position: absolute;
  left: 140px;
  display: flex;

}
/* -----------------Review ---------------- */
.nav {
  border: none;
}
.nav .nav-link{
  border: none;
  padding-left: 0;

}
.nav button{
  color: #000;
  font-size: 20px;
  font-weight: 400;
}
.nav button:hover{
  color: #CBB28B;
  text-decoration: underline;

}
.tab-pane{
  padding: 20px;
  border: 1px solid #e5e5e5;
  font-size: 15px;
  color: #2f2f30;
}
.review .card {
  margin: 0;
  margin-bottom: 20px;
}
.formReview {
  font-family: "Fira Sans",sans-serif;
  font-size: 14px;
  font-weight: bold;
}
.formReview form {
  position: relative;
}
.formReview i{
  color: red;
}
.formReview input{
  border-radius: 20px;
}
.formReview .form-check-input{
  margin: 0 15px 0 15px;
}
.checkboxReview {
  color: #666666;
  padding: 0;
  font-size: 14px;
  display: flex;
  margin-left: 20px;
  position: absolute;
  left: 50px;
  top: 2px;
}
.button{
  position: absolute;
  left: 825px;
  bottom: -10px;
  background-color: #CBB28B;
  padding: 4px 25px 4px 25px;
  border-radius: 20px;
  border: 1px solid #CBB28B;
}
.button:hover{
  background-color: #000;
}
.form-check {
  padding: 0;
  position: relative;
}

/* -------------product 1 -------- */

.product1__title {
  margin: 50px 0 20px 0;

}

.product1__title ul {
  display: flex;
  padding-left: 0;

}

.product1__title ul li a{
  color: #000;
  padding-right: 60px;

}
.product1__title ul li a:hover{
  color: #F3AE7E;

}
.product1__image .image1 p{
  color: #757575;
}

/* ------------ search ------------ */
.header2__container .header__search {
  border: 20px;

}

.ng-untouched ng-pristine ng-valid{
  display: inline;
}
/* ------------ end search ------------ */

.available {
  color: #CBB28B;
  font-size: 15px;
}

.custom-control-input {
margin-right: 5px;
}
.accordion-body div input {
  margin-right: 10px;
}
.accordion .accordion-item {
  border: none;
}
.custom-control-inline {
  display: inline-flex;
  margin-right: 1rem;
}

.isChosseRadio{
  color: #dc1645;
  font-size: 15px;
}
//Dropdown sidebar
.sub-item {
  background-color: #ffffff;
  color: #ce8837;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 40px;
}
.item {
  background: #ecbc9b;
  position: relative;
  cursor: pointer;
}
.sub-btn {
  background-color: #cab6a2;
  color: #fff;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}
.item a:hover {
  background: #f3dac8;
  transition: 0.3s ease;
}
.item i {
  margin-right: 15px;
}
.item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.item .sub-menu {
  background: #262627;
  display: none;
}
.width {
  display: flex;
  align-items: center;

  .input {
    width: 350px;
  }


  label {
    display: flex;
    align-items: center;
  }
  .red {
    font-size: 18px;
    color: red;
  }
}
.images-pro {
  display: inline-block;
  .image-size{
    width: 100px;
    height: 100px;
  }
}

::ng-deep .ant-modal-header {
  text-align: center;
}

::ng-deep .ant-modal-header {
  text-align: center;
}

::ng-deep .ant-modal-footer {
  display: none;
}

/* -------------product 1 -------- */

.product1__title {
  margin: 50px 0 20px 0;

}

.product1__title ul {
  display: flex;
  padding-left: 0;

}

.product1__title ul li {
  padding-right: 60px;

}
.product1__title ul li a{
  color: #000;
  padding-right: 60px;

}
.product1__title ul li a:hover{
  color: #F3AE7E;

}
.product1__image .image1 p{
  color: #757575;
}

.slide4 {
  position: relative;
}
.slide4 .slide2__text{
  position: absolute;
  color: #FFFFFF;
  top: 70px;
  left: 50px;

  li {
    margin-top: 20px;
    a {
      padding: 10px 20px;
      background-color: #F3AE7E;
      border-radius: 20px;
    }
  }
}


/* -------------product 1 -------- */

.product1__title {
  margin: 50px 0 20px 0;

}

.product1__title ul {
  display: flex;
  padding-left: 0;

}

.product1__title ul li a {
  color: #000;
  padding-right: 60px;

}

.product1__title ul li a:hover {
  color: #F3AE7E;

}

.product1__image .image1 p {
  color: #757575;
}
//
.image2 {
  img {
    height: 100px;
    width: 89px;
    border-radius: 3px;
    opacity: 1;
    display: block;
    transition: .5s ease;
    backface-visibility: hidden;
  }
}
.image1 {
  margin-top: 10px;
  position: relative;
  img {
    border-radius: 3px;
    opacity: 1;
    display: block;
    height: 15rem;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    a {
      background-color: white;
      border-radius: 90px;
      padding: 0px 5px 0 5px;
    }
    a i{
      opacity: 1;
    }
    a:hover{
      padding: 0px 5px 0 5px;
      border-radius: 90px;
      background-color: #CBB28B;
    }
  }

  &:hover img {
    opacity: 0.3;
  }

  &:hover .middle {
    opacity: 1;
  }
}

/* --------------- */

.slide__text {
  width: 24%;
  top: 230px;
  left: 270px;
  position: absolute;
}

.slide__text--big {
  font-size: 30px;
  color: #01996D;
}

.slide__text--small p {

  font-weight: 400;
  font-size: 18px;
  line-height: 31px;
  color: #484848;
}

.slide__text--button {
  padding-top: 30px;
}

/* --------Blog-------- */
.blog {
  margin: 50px 0 20px 0;

}

.blog ul {
  display: flex;
  padding-left: 0;

}

.blog ul li {
  padding-right: 60px;

}
.blog ul li a{
  color: #000;
  padding-right: 60px;

}
.blog2 .blog2__image {
  width: 100%;
}
.blog2 .blog2__image .anh {
  padding-right: 20px;
  padding: 50px;
}

/* ---------------aside--------------- */
.card-header {
  background-color: #F1EAE1;
  padding: 22px 31px;
  i {
    margin-right: 10px;
  }
}
.card-body .card1__image img {
  max-width: 100%;
}
.card {
  margin-top: 20px;
}
.wedding {
  position: relative;
  margin-top: 20px;
}
.wedding__image {
  min-height: 400px;
  background-image: url(../../../../assets/images/wedding.png);
  background-repeat: no-repeat;
}
.wedding__text{
  font-size: 30px;
  font-family: 'Playfair Display', serif;
  text-transform: capitalize;
  position: absolute;
  top: 30px;
  left: 70px;
}


.overlay {
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 2fr 2fr 1fr;

  background: rgba(77, 77, 77, .9);
  opacity: 0;
  transition: all 0.5s;

  font-family: 'Playfair Display', serif;
}

.head {
  font-size: 30px;
  line-height: 40px;

  transform: translateY(40px);
  transition: all 0.7s;

}


.price {
  font-size: 22px;
  line-height: 10px;
  font-weight: bold;
  opacity: 0;
  transform: translateY(40px);
  transition: all 0.7s;

}
.price .old {
  text-decoration: line-through;
  color: lighten(rgb(77, 77, 77),40%);
}


.image1:hover .overlay {
  opacity: 1;

}
.image1:hover .overlay .head {
  transform: translateY(0px);
}
.image1:hover.overlay hr {
  width: 75px;
  transition-delay: 0.4s;
}
.image1:hover .overlay .price {
  transform: translateY(0px);
  transition-delay: 0.3s;
  opacity: 1;
}
.image1:hover.overlay .cart {
  transform: translateY(0px);
  transition-delay: 0.6s;
  opacity: 1;
}

//Dropdown sidebar
.sub-item {
  background-color: #ffffff;
  color: #ce8837;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 40px;
}
.item {
  background: #ecbc9b;
  position: relative;
  cursor: pointer;
}
.sub-btn {
  background-color: #F1EAE1;
  color: #000000;
  font-size: 16px;
  text-decoration: none;
  display: block;
  padding: 5px 30px;
  line-height: 60px;
}
.sub-item {
  color: black;
  border-bottom: 1px solid #e8e5e5;
}
.item a:hover {
  background: #f3dac8;
  transition: 0.3s ease;
}
.item i {
  margin-right: 15px;
}
.item a .dropdown {
  position: absolute;
  right: 0;
  margin: 20px;
  transition: 0.3s ease;
}

.item .sub-menu {
  background-color: #fff;
  //display: compact ;
}

.side-bar .menu .item .sub-menu a {
  padding-left: 80px;
}

.navbar { background-color: #484848; }
.navbar .navbar-nav .nav-link { color: #fff; }
.navbar .navbar-nav .nav-link:hover { color: #fbc531; }
.navbar .navbar-nav .active > .nav-link { color: #fbc531; }
.nav-link{
  font-family: 'Be Vietnam Pro';
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  line-height: 30px;
}
.nav-link i{
  padding-right: 10px;
}

.navbar-brand {
  position: absolute;
  left: 100px;
}
.login{
  color: yellow;
  background-color: rgba(153, 50, 204, 0);
  position: absolute;
  right: 250px;
  /* Button */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 140px;
  height: 48px;
  border-radius: 12px;
  border-color: yellow;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.navbar{
  //position: absolute;
  width: 100%;
  height: 80px;
  left: 0px;
  top: 0px;
  background: linear-gradient(92.17deg, #0C5531 20.41%, #008242 112.49%);
}
.register{
  color: 000000FF;
  position: absolute;
  right: 100px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 8px;

  width: 140px;
  height: 48px;

  /* Primary/2 */

  background: linear-gradient(95.52deg, #FFFE9D 8.49%, #FFE667 30.81%, #FFFA94 53.75%, #FFE55C 69.96%, #FFFE9D 94.59%);
  border-radius: 12px;
  border-color: rgba(0, 0, 0, 0);

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.lineDoc {
  position: absolute;
  right: 400px;
  width: 2px;
  height: 44px;
  background: #FFFFFF;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}


/*Images hover  ---  Brightness-zoom Container */
.img-hover-zoom--brightness {
  border-radius: 3px;
  width: 89px;
  height: 101px; /* [1.1] Set it as per your need */
  overflow: hidden; /* [1.2] Hide the overflowing of child elements */
}

/* [2] Transition property for smooth transformation of images */
.img-hover-zoom img {
  transition: transform .5s ease;
}

/* [3] Finally, transforming the image when container gets hovered */

.img-hover-zoom--brightness img {
  width: 89px;
  height: 101px;
  transition: transform 2s, filter 1.5s ease-in-out;
  transform-origin: center center;
}

/* The Transformation */
.img-hover-zoom--brightness:hover img {
  filter: brightness(100%);
  transform: scale(1.3);
}
//end hover image

.product-name {
  font-family: "Fira Sans";
  font-size: 23px;
}
/* money*/
.money {
  font-size: 14px;
}
.active{
  color: #cbb28b!important;
}
