<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3 body__aside">
        <div class="border accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="item">
                <a class="sub-btn"
                ><i class="fas fa-table"></i>Tất cả thể loại<i
                  class="fas fa-angle-right dropdown"
                ></i
                ></a>
                <div class="sub-menu" >
                  <div *ngFor="let cate of categories">
                    <a  class="sub-item" >{{cate.name}}</a>
                  </div>
                </div>
              </div>
            </h2>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Sản phẩm bán mới
          </div>
          <div class="row card-body " *ngFor="let product of newProducts">
            <div class="card-title col-5 card1__image image2">
              <img [src]="product.productImages ? product.productImages[0].imageUrl : null" (click)="showProductDetail(product)" alt="">
            </div>
            <div class="col-7">
              <p class="card-text ">{{product.nameProduct}}</p>
              <p>{{product.productSizes ? (product.productSizes[0]?.salePrice + '' | vnd) : ''}}</p>
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Sản phẩm bán chạy
          </div>
          <div class="row card-body " *ngFor="let product of productTrending">
            <div class="card-title col-5 card1__image image2">
              <img [src]="product.productImages ? product.productImages[0].imageUrl : null" (click)="showProductDetail(product)" alt="">
            </div>
            <div class="col-7">
              <p class="card-text ">{{product.nameProduct}}</p>
              <p>{{product.productSizes ? (product.productSizes[0]?.salePrice + '' | vnd) : ''}}</p>
            </div>
          </div>
        </div>


      </div>
      <div class="col-9 body__article">
        <div class="row">
          <div class="col-6 body__article--image">
            <img [src]="imageUrl" alt="" class="image--big">
            <div class="image__small" >
              <span class="pre"> <img src="assets/images/pst-prod-prev.svg" alt=""></span>
              <div class="images-pro"*ngFor="let image of productImages">
              <img [src]="image.imageUrl" class="image-size" alt="">
              </div>
              <span class="pre"> <img src="assets/images/pst-prod-next.svg" alt=""></span>
            </div>

          </div>

          <div class="col-6 body__article--text">
            <h3>{{productDetail.nameProduct}}</h3>
            <div class="review">
              <nz-rate [ngModel]="5" nzDisabled></nz-rate>
              <p>1 reviews</p>
            </div>
            <div class="row infoProduct">
              <div class="col-3 infoProduct__proprety">
                <ul>
                  <li><span>Thương hiệu:</span></li>
                  <li><span>Mã sản phẩm:</span></li>
                  <li><span>Phụ kiện:</span></li>
                  <li><span>Kích thước:</span></li>
                </ul>
              </div>
              <div class="col-9 infoProduct__value">
                <ul>
                  <li><a href=""> {{productDetail.vendor?.name}} </a></li>
                  <li><span>{{productDetail.code}}</span></li>
                  <li><span>{{productDetail.accessory?.name}}</span></li>
                  <li>
                    <div class="custom-control custom-radio custom-control-inline" *ngFor="let s of sizes">
                      <input type="radio" class="custom-control-input" name="size" [value]="s"
                             [(ngModel)]="size" >
                      <label class="custom-control-label" >{{s.size}}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="article--text__price">
              <li>
                <h2 *ngIf="checkedRadio(size); else value">{{salePrice ? (sizes[0]?.salePrice+'' | vnd)  : ''}} -
                   {{salePrice ? (sizes[lengthSize]?.salePrice+'' | vnd)  : ''}}
                </h2>
                <span class="isChosseRadio" *ngIf="checkedRadio(size)&&this.isChosseRadio2">! Vui lòng chọn kích thước sản phẩm trước</span>
                <ng-template #value>
                  <h2>{{size.salePrice +'' | vnd}}</h2>
                </ng-template>
              </li>

            </ul>
            <p class="available" *ngIf="!checkedRadio(size); else quantity">Còn
              {{size.quantity}} sản phẩm
            </p>
            <ng-template #quantity>
              <p class="available">Còn {{totalQuantity}} sản phẩm</p>
            </ng-template>
            <div id="product">
              <div class="form-group cart">
                <label class="control-label qty" for="input-quantity">Số lượng</label>
                <input type="number" name="quantity" [(ngModel)]="input_quantity" min="1" max="{{size.quantity}}" id="input-quantity"
                       class="form-quantity">
                <a type="" id="button-cart" data-loading-text="Loading..." class="btn" (click)="addToCart()" >Thêm giỏ hàng</a>
                <span> - Hoặc - </span>
                <a type="" id="button-cart" style="text-align: center" class="btn" (click)="showModal()" data-loading-text="Loading..." >Đặt lịch hẹn</a>
                <nz-modal [(nzVisible)]="isVisible" nzTitle="Đặt lịch hẹn" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk()">
                  <ng-container *nzModalContent>
                    <form [formGroup]="validateForm" (ngSubmit)="datLichHen()">
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="userName"> Họ và tên</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Họ và tên trống">
                          <input nz-input formControlName="userName" id="userName" type="text" />
                          <ng-container *ngIf="validateForm.get('userName')?.touched || validateForm.get('userName')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('userName')?.hasError('required')">
                <small>{{'Họ và tên trống'}}</small>
              </span>
                          </ng-container>

                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="phoneNumber"> Số điện thoại</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Số điện thoại trống">
                          <input nz-input formControlName="phoneNumber" id="phoneNumber" type="text" />
                          <ng-container *ngIf="validateForm.get('phoneNumber')?.touched || validateForm.get('phoneNumber')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('phoneNumber')?.hasError('required')">
                <small>{{'Số điện thoại trống'}}</small>
              </span>
                          </ng-container>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="email"> Email</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Email trống">
                          <input nz-input formControlName="email" id="email" type="text" />
                          <ng-container *ngIf="validateForm.get('email')?.touched || validateForm.get('email')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('email')?.hasError('required')">
                <small>{{'Email trống'}}</small>
              </span>
                          </ng-container>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="date">Ngày hẹn</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Ngày hẹn trống">

                          <input  type="datetime-local" formControlName="time" id="time"/>
                          <ng-container *ngIf="validateForm.get('time')?.touched || validateForm.get('time')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('time')?.hasError('required')">
                <small>{{'Ngày hẹn trống'}}</small>
              </span>
                          </ng-container>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tensap">Tên sản phẩm</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" >
                          <input nz-input id="tensap" type="text" style="color: black" value="{{productDetail.nameProduct}}"disabled />

                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="tensap">Kích thước</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" >
                          <input nz-input id="tensap" type="text" style="color: black" value="{{this.size.size}}"disabled />

                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="code">Code sản phẩm</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24" >
                          <input nz-input  id="code" type="text" style="color: black" value="{{productDetail.code}}"  disabled/>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item>
                        <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="note">Ghi chú</nz-form-label>
                        <nz-form-control [nzSm]="18" [nzXs]="24">
                          <textarea rows="4" nz-input formControlName="note"></textarea>
                        </nz-form-control>
                      </nz-form-item>
                      <nz-form-item nz-row class="register-area">
                        <nz-form-control >
                          <button nz-button nzType="primary" [disabled]="!validateForm.valid" style="display: flex; align-items: center; margin: 20px auto auto; padding: 20px 50px; background: #F3AE7E; border-radius: 20px; border: 1px solid #F3AE7E">Đặt lịch</button>
                        </nz-form-control>
                      </nz-form-item>
                    </form>

                  </ng-container>
                </nz-modal>
                <hr>
              </div>
            </div>

          </div>
        </div>
        <!-- --------- review ----------- -->
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                  aria-selected="true">Mô tả</button>
          <button class="nav-link inactive" id="nav-profile-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                  aria-selected="false">Đánh giá</button>
        </div>
        <br>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active description" id="nav-home" role="tabpanel"
               aria-labelledby="nav-home-tab">
            <p>Thương hiệu:
              Lancaster;

              Độ chịu nước:

              Độ dày vỏ máy:
              11.7mm;

              Loại mặt kính:

              Chất liệu dây:

              Chất liệu dây:
              Dây Kim LoạiDây Kim Loại Lưới;

              Chất liệu vỏ:
              Vỏ Thép Cao Cấp Không Gỉ 316L;

              Màu sắc mặt:

              Kích thước mặt:
              35 - 40mm;

              Kích thước dây:
              18mm;

              Loại máy đồng hồ:
              Quartz;

              Độ chịu nước:
              50m;

              Xuất xứ bộ máy:
              Nhật Bản;

              Xuất Xứ Thương Hiệu:
              Ý;

              Lắp ráp tại:
              Trung Quốc;

              Loại mặt kính:
              Kính khoángKính Khoáng Cứng;

              Hình dạng mặt:
              Tròn;

              Màu sắc dây:

              Số Kim:
              3 Kim;

              Đá Gắn Kèm Đồng Hồ:
              Không gắn đá;

              Chứng nhận Chronometer:
              Không;

              Chức năng chính:
              Lịch;

              Giới tính:
              Nữ;
            </p>
          </div>
          <div class="tab-pane fade review " id="nav-profile" role="tabpanel"
               aria-labelledby="nav-profile-tab">
            <div class="card">
              <div class="card-header">
                Trần tiến mạnh
              </div>
              <div class="card-body">
                <p class="card-text">Tôi đánh giá sản phẩm rất bền và chất lượng ! </p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                Đỗ Đức Toàn
              </div>
              <div class="card-body">
                <p class="card-text">Sản phẩm tuyệt ! </p>
              </div>
            </div>
            <div class="formReview">
              <form >
                <p>Viết đánh giá</p>
                <div class="mb-3">
                  <i>*</i>
                  <label for="exampleInputEmail1" class="form-label">Họ và tên </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                  <i>*</i>
                  <label for="exampleInputPassword1" class="form-label">Đánh giá</label>
                  <textarea name="" id="exampleInputPassword1" style="width: 100%; height: 59px;" class="textarea form-control" rows="5" ></textarea>
                </div>
                <div class="mb-3 form-check">
                  <i>*</i>
                  <label class="form-check-label" >Rating</label>
                  <div class="checkboxReview">
                    <label>Tệ</label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" >
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <label >Tuyệt</label>

                  </div>
                </div>
                <a href="" class="btn btn-primary button">Đánh giá</a>
              </form>

            </div>
          </div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">Sản phẩm liên quan</a></li>
            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1" *ngFor="let product of products">
              <img [src]="product.productImages ? product.productImages[0].imageUrl : null" (click)="showProductDetail(product)" alt="">
              <div class="middle">
                <a (click)="showProductDetail(product)" title="Add to cart"><i class="fas fa-cart-plus"></i></a>
                <a (click)="showProductDetail(product)" title="Chi tiết"><i class="fas fa-eye"></i></a>
                <a title="Yêu thích"><i class="far fa-heart"></i></a>
                <a title=""><i class="fas fa-layer-group"></i></a>

              </div>
              <div class="image1__content">
                <span class="product-name" (click)="showProductDetail(product)">{{product.nameProduct}}</span>
                <p>{{product.productSizes ? product.productSizes[0].salePrice : null +'' | vnd}} </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
