<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3 body__aside">
        <div class="border accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="item">
                <a class="sub-btn"
                ><i class="fas fa-table"></i>Tất cả thể loại<i
                  class="fas fa-angle-right dropdown"
                ></i
                ></a>
                <div class="sub-menu" >
                  <div *ngFor="let cate of categories">
                    <a  class="sub-item" >{{cate.name}}</a>
                  </div>
                </div>
              </div>
            </h2>
          </div>
        </div>
        <div class="card ">
          <div class="card-header">
            <img src="./../../../assets/images/3.png" alt="">
            Tìm kiếm
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <div class="accordion-header">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Màu
                </button>
              </div>
              <div id="collapseThree" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> Vàng
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> Trắng
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> Đỏ
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> Xanh
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" >
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree1"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Giá
                </button>
              </div>
              <div id="collapseThree1" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> $50.00 - $200.000
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $201.000 - $500.00
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $501.00 - $800.00
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $801.000 - $1000.00
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree2"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Kích thước
                </button>
              </div>
              <div id="collapseThree2" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> XL
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> L
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> M
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> S
                  </div>

                </div>
              </div>
            </div>
            <div class="button__search ">
              <a href="#">Tìm kiếm thể loại</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Sản phẩm mới
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>

          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon4.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Sản phẩm bán chạy
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-9 body__article">
        <div class="row">
          <div class="col-6 body__article--image">
            <img [src]="imageUrl" alt="" class="image--big">
            <div class="image__small">
              <span class="pre"> <img src="assets/images/pst-prod-prev.svg" alt=""></span>
              <img src="assets/images/icon11.jpg" alt="">
              <img src="assets/images/icon2.jpg" alt="">
              <img src="assets/images/icon3.jpg" alt="">
              <img src="assets/images/icon4.jpg" alt="">
              <span class="pre"> <img src="assets/images/pst-prod-next.svg" alt=""></span>
            </div>

          </div>

          <div class="col-6 body__article--text">
            <h3>{{productDetail.nameProduct}}</h3>
            <div class="review">
              <nz-rate [ngModel]="5" nzDisabled></nz-rate>
              <p>1 reviews</p>
            </div>
            <div class="row infoProduct">
              <div class="col-3 infoProduct__proprety">
                <ul>
                  <li><span>Thương hiệu:</span></li>
                  <li><span>Mã sản phẩm:</span></li>
                  <li><span>Phụ kiện:</span></li>
                  <li><span>Kích thước:</span></li>
                </ul>
              </div>
              <div class="col-9 infoProduct__value">
                <ul>
                  <li><a href=""> {{productDetail.vendor?.name}} </a></li>
                  <li><span>{{productDetail.code}}</span></li>
                  <li><span>{{productDetail.accessory?.name}}</span></li>
                  <li>
                    <div class="custom-control custom-radio custom-control-inline" *ngFor="let s of sizes">
                      <input type="radio" class="custom-control-input" name="size" [value]="s"
                             [(ngModel)]="size" >
                      <label class="custom-control-label" >{{s.size}}</label>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <ul class="article--text__price">
              <li>
                <h2 *ngIf="checkedRadio(size); else value">{{salePrice ? (sizes[0]?.salePrice+'' | vnd)  : ''}} -
                   {{salePrice ? (sizes[lengthSize]?.salePrice+'' | vnd)  : ''}}
                </h2>
                <span class="isChosseRadio" *ngIf="checkedRadio(size)&&this.isChosseRadio2">! Vui lòng chọn kích thước sản phẩm trước</span>
                <ng-template #value>
                  <h2>{{size.salePrice +'' | vnd}}</h2>
                </ng-template>
              </li>

            </ul>
            <p class="available" *ngIf="!checkedRadio(size); else quantity">Còn
              {{size.quantity}} sản phẩm
            </p>
            <ng-template #quantity>
              <p class="available">Còn {{totalQuantity}} sản phẩm</p>
            </ng-template>
            <div id="product">
              <div class="form-group cart">
                <label class="control-label qty" for="input-quantity">Số lượng</label>
                <input type="number" name="quantity" [(ngModel)]="input_quantity" min="1" value="1" size="2" max="{{size.quantity}}" id="input-quantity"
                       class="form-quantity">
                <a type="" id="button-cart" data-loading-text="Loading..." class="btn"(click)="addToCart()" >Thêm giỏ hàng</a>
                <span> - Hoặc - </span>
                <div class="product__btn-group">

                  <a type="" class="wishlist" href="" title="Add to Wish List">
                    <i class="far fa-heart"></i>Yêu thích</a>
                  <a type="" class="compare" href="" title="Compare this Product"><i
                    class="	fas fa-balance-scale"></i>So sánh sản phẩm</a>
                </div>
                <hr>

                <div class="addthis_toolbox addthis_default_style"
                     data-url="https://splashythemes.com/opencart/OPC02/OPC020098/index.php?route=product/product&amp;product_id=33">
                  <a class="addthis_button_facebook_like at300b" fb:like:layout="button_count">
                    <div class="fb-like fb_iframe_widget" data-layout="button_count"
                         data-show_faces="false" data-share="false" data-action="like"
                         data-width="90" data-height="25" data-font="arial"
                         data-href="https://splashythemes.com/opencart/OPC02/OPC020098/index.php?route=product/product&amp;product_id=33"
                         data-send="false" style="height: 25px;" fb-xfbml-state="rendered"
                         fb-iframe-plugin-query="action=like&amp;app_id=172525162793917&amp;container_width=0&amp;font=arial&amp;height=25&amp;href=https%3A%2F%2Fsplashythemes.com%2Fopencart%2FOPC02%2FOPC020098%2Findex.php%3Froute%3Dproduct%2Fproduct%26product_id%3D33&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90">
                                                <span style="vertical-align: bottom; width: 90px; height: 28px;"><iframe
                                                  name="f62804e4bde0e4" width="90px" height="25px"
                                                  data-testid="fb:like Facebook Social Plugin"
                                                  title="fb:like Facebook Social Plugin" frameborder="0"
                                                  allowtransparency="true" allowfullscreen="true" scrolling="no"
                                                  allow="encrypted-media"
                                                  src="https://www.facebook.com/v2.6/plugins/like.php?action=like&amp;app_id=172525162793917&amp;channel=https%3A%2F%2Fstaticxx.facebook.com%2Fx%2Fconnect%2Fxd_arbiter%2F%3Fversion%3D46%23cb%3Df3ad95ad69c098c%26domain%3Dsplashythemes.com%26is_canvas%3Dfalse%26origin%3Dhttps%253A%252F%252Fsplashythemes.com%252Ff1f38e2ace75894%26relation%3Dparent.parent&amp;container_width=0&amp;font=arial&amp;height=25&amp;href=https%3A%2F%2Fsplashythemes.com%2Fopencart%2FOPC02%2FOPC020098%2Findex.php%3Froute%3Dproduct%2Fproduct%26product_id%3D33&amp;layout=button_count&amp;locale=en_US&amp;sdk=joey&amp;send=false&amp;share=false&amp;show_faces=false&amp;width=90"
                                                  style="border: none; visibility: visible; width: 90px; height: 28px;"
                                                  class=""></iframe></span>
                    </div>
                  </a> <a class="addthis_button_tweet at300b">
                  <div class="" style="width: 62px; height: 25px;">
                                                <span><iframe id="twitter-widget-0" scrolling="no" frameborder="0"
                                                              allowtransparency="true" allowfullscreen="true"
                                                              title="Twitter Tweet Button"></iframe></span>
                  </div>
                </a>
                  <a class="addthis_counter addthis_pill_style" href="#"
                     style="display: inline-block;"><a
                    class="atc_s addthis_button_compact">Share<span></span></a>
                  </a>
                  <div class="atclear"></div>
                </div>
                <script type="text/javascript"
                        src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-515eeaf54693130e"></script>
              </div>
            </div>

          </div>
        </div>
        <!-- --------- review ----------- -->
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
          <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-home" type="button" role="tab" aria-controls="nav-home"
                  aria-selected="true">Mô tả</button>
          <button class="nav-link inactive" id="nav-profile-tab" data-bs-toggle="tab"
                  data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile"
                  aria-selected="false">Đánh giá</button>
        </div>
        <br>
        <div class="tab-content" id="nav-tabContent">
          <div class="tab-pane fade show active description" id="nav-home" role="tabpanel"
               aria-labelledby="nav-home-tab">
            <p>Thương hiệu:
              Lancaster;

              Độ chịu nước:

              Độ dày vỏ máy:
              11.7mm;

              Loại mặt kính:

              Chất liệu dây:

              Chất liệu dây:
              Dây Kim LoạiDây Kim Loại Lưới;

              Chất liệu vỏ:
              Vỏ Thép Cao Cấp Không Gỉ 316L;

              Màu sắc mặt:

              Kích thước mặt:
              35 - 40mm;

              Kích thước dây:
              18mm;

              Loại máy đồng hồ:
              Quartz;

              Độ chịu nước:
              50m;

              Xuất xứ bộ máy:
              Nhật Bản;

              Xuất Xứ Thương Hiệu:
              Ý;

              Lắp ráp tại:
              Trung Quốc;

              Loại mặt kính:
              Kính khoángKính Khoáng Cứng;

              Hình dạng mặt:
              Tròn;

              Màu sắc dây:

              Số Kim:
              3 Kim;

              Đá Gắn Kèm Đồng Hồ:
              Không gắn đá;

              Chứng nhận Chronometer:
              Không;

              Chức năng chính:
              Lịch;

              Giới tính:
              Nữ;
            </p>
          </div>
          <div class="tab-pane fade review " id="nav-profile" role="tabpanel"
               aria-labelledby="nav-profile-tab">
            <div class="card">
              <div class="card-header">
                Trần tiến mạnh
              </div>
              <div class="card-body">
                <p class="card-text">Tôi đánh giá sản phẩm rất bền và chất lượng ! </p>
              </div>
            </div>
            <div class="card">
              <div class="card-header">
                Đỗ Đức Toàn
              </div>
              <div class="card-body">
                <p class="card-text">Sản phẩm tuyệt ! </p>
              </div>
            </div>
            <div class="formReview">
              <form >
                <p>Viết đánh giá</p>
                <div class="mb-3">
                  <i>*</i>
                  <label for="exampleInputEmail1" class="form-label">Họ và tên </label>
                  <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">

                </div>
                <div class="mb-3">
                  <i>*</i>
                  <label for="exampleInputPassword1" class="form-label">Đánh giá</label>
                  <textarea name="" id="exampleInputPassword1" style="width: 100%; height: 59px;" class="textarea form-control" rows="5" ></textarea>
                </div>
                <div class="mb-3 form-check">
                  <i>*</i>
                  <label class="form-check-label" >Rating</label>
                  <div class="checkboxReview">
                    <label>Tệ</label>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" >
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <input class="form-check-input" type="radio" name="flexRadioDefault" checked>
                    <label >Tuyệt</label>

                  </div>
                </div>
                <a href="" class="btn btn-primary button">Đánh giá</a>
              </form>

            </div>
          </div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">Sản phẩm liên quan</a></li>
            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
