
<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3 body__aside">
        <div class="border accordion accordion-flush active" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="item">
                <a class="sub-btn"
                ><i class="fas fa-table"></i>Tất cả thể loại<i
                  class="fas fa-angle-right dropdown"
                ></i
                ></a>
                <div class="sub-menu" >
                  <div *ngFor="let cate of categories">
                    <a (click)="showProductByCate(cate)" class="sub-item" >{{cate.name}}</a>
                  </div>
                </div>
              </div>
            </h2>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Deal Of The Day
          </div>
          <div class="card-body ">
            <div class="card-title card1__image "><img src="assets/images/medium1.jpg" alt=""></div>
            <p class="card-text">Gold Croissant Hoop Earrings</p>
            <p>$19.00</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Sản phẩm mới
          </div>
          <div class="row card-body " *ngFor="let newProduct of newProducts">
              <div class="card-title col-5 card1__image " >
                <img [src]="newProduct.productImages ? newProduct.productImages[0].imageUrl : null" alt="">
              </div>
              <div class="col-7">
                <p class="card-text ">{{newProduct.nameProduct}}</p>
                <p>{{newProduct.productSizes ? (newProduct.productSizes[0]?.salePrice+'' | vnd)  : ''}} -
                  {{newProduct.productSizes ? (newProduct.productSizes[newProduct.productSizes.length-1]?.salePrice+'' | vnd)  : ''}}</p>
              </div>
          </div>
        </div>
        <div class="wedding">
          <div class="wedding__image"></div>
          <div class="wedding__text">
            <span>Wedding Ring</span>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <i class="fas fa-table"></i>
            Bán chạy nhất
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-9 body__article">
        <div class="slide1">
          <img src="assets/images/slide1.png" alt="">
        </div>
        <div class="row slide23">
          <div class="col-6 slide2">
            <div class="slide2__text">
              <p>2022 Collection</p>
              <h4>New Earings</h4>
              <li> <a> SHOP NOW</a> </li>
            </div>
            <div class="slide2__image"><img src="assets/images/slide2.png" alt=""></div>
          </div>
          <div class="col-6 slide2">
            <div class="slide2__text">
              <p>New Design</p>
              <h4>Bracelet</h4>
              <li> <a> SHOP NOW</a> </li>
            </div>
            <div class="slide2__image"><img src="assets/images/slide3.png" alt=""></div>
          </div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">Nổi bật</a></li>
              <li><a href="">Sản phẩm mới </a></li>
              <li><a href="">Bán chạy </a></li>
            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
          </div>
        </div>
        <div class="row slide4">
          <div class="slide2__text">
            <p>New In Our Shop</p>
            <h1>Buy Amadeus Jewellery</h1>
            <li> <a> SHOP NOW</a> </li>
          </div>
          <div class="slide4__image"> <img src="assets/images/slide4.png" alt=""></div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">All Jewel</a></li>
              <li><a href="">Chains </a></li>
              <li><a href="">Earrings </a></li>
              <li><a href="">Necklaces </a></li>

            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>

          </div>
        </div>
        <div class="blog">
          <div class="blog__title">
            <ul>
              <li><a href="">From the Blogs</a></li>

            </ul>
          </div>
          <div class="row blog__image">
            <div class="col-4 blog1">
              <img src="assets/images/blog1.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="col-4 blog1">
              <img src="assets/images/blog2.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="col-4 blog1">
              <img src="assets/images/blog3.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="border"></div>
          </div>
        </div>
        <div class="blog2">
          <div class="row blog2__image">
            <div class="col-3 anh">
              <img src="assets/images/logo2.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/logo3.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/logo4.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/blog5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

