
<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="row">
      <div class="col-3 body__aside">
        <div class="border accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <div class="item">
                <a class="sub-btn"
                ><i class="fas fa-table"></i>All Category<i
                  class="fas fa-angle-right dropdown"
                ></i
                ></a>
                <div class="sub-menu" >
                  <div *ngFor="let cate of categories">
                    <a href="#" class="sub-item" >{{cate.name}}</a>
                  </div>
                </div>
              </div>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                accordion body.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false"
                      aria-controls="flush-collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false"
                      aria-controls="flush-collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                accordion body. Nothing more exciting happening here in terms of content, but just
                filling up the space to make it look, at least at first glance, a bit more
                representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </div>
        <div class="card ">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Refine Search
          </div>
          <div class="accordion" id="accordionPanelsStayOpenExample">
            <div class="accordion-item">
              <div class="accordion-header" >
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
                  Color
                </button>
              </div>
              <div id="collapseThree" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> Yellow
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> White
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> Red
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> Blue
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" >
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree1"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                  Price
                </button>
              </div>
              <div id="collapseThree1" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> $50.00 - $200.000
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $201.000 - $500.00
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $501.00 - $800.00
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> $801.000 - $1000.00
                  </div>

                </div>
              </div>
            </div>
            <div class="accordion-item">
              <div class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree2"
                        aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                  Size
                </button>
              </div>
              <div id="collapseThree2" class="accordion-collapse collapse show"
                   aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                <div class="accordion-body pt-0 grid-container">
                  <div>
                    <input type="checkbox" class="check-box"> XL
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> L
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> M
                  </div>
                  <div>
                    <input type="checkbox" class="check-box"> S
                  </div>

                </div>
              </div>
            </div>
            <div class="button__search ">
              <a href="#">REFIRE SEARCH</a>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Deal Of The Day
          </div>
          <div class="card-body ">
            <div class="card-title card1__image "><img src="assets/images/medium1.jpg" alt=""></div>
            <p class="card-text">Gold Croissant Hoop Earrings</p>
            <p>$19.00</p>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            New Products
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon4.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon4.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
        </div>
        <div class="wedding">
          <div class="wedding__image"></div>
          <div class="wedding__text">
            <span>Wedding Ring</span>
          </div>
        </div>
        <div class="card">
          <div class="card-header">
            <img src="assets/images/3.png" alt="">
            Best Sellers
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon11.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon2.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>
          <div class="row card-body ">
            <div class="card-title col-5 card1__image "><img src="assets/images/icon3.jpg" alt=""></div>
            <div class="col-7">
              <p class="card-text ">Gold Croissant Hoop Earrings</p>
              <p>$19.00</p>
            </div>
          </div>

        </div>
      </div>
      <div class="col-9 body__article">
        <div class="slide1">
          <img src="assets/images/slide1.png" alt="">
        </div>
        <div class="row slide23">
          <div class="col-6 slide2">
            <div class="slide2__text">
              <p>2022 Collection</p>
              <h4>New Earings</h4>
              <li> <a> SHOP NOW</a> </li>
            </div>
            <div class="slide2__image"><img src="assets/images/slide2.png" alt=""></div>
          </div>
          <div class="col-6 slide2">
            <div class="slide2__text">
              <p>New Design</p>
              <h4>Bracelet</h4>
              <li> <a> SHOP NOW</a> </li>
            </div>
            <div class="slide2__image"><img src="assets/images/slide3.png" alt=""></div>
          </div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">Featured Products</a></li>
              <li><a href="">New Arrivals </a></li>
              <li><a href="">Best Sellers </a></li>
            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
          </div>
        </div>
        <div class="row slide4">
          <div class="slide2__text">
            <p>New In Our Shop</p>
            <h1>Buy Amadeus Jewellery</h1>
            <li> <a> SHOP NOW</a> </li>
          </div>
          <div class="slide4__image"> <img src="assets/images/slide4.png" alt=""></div>
        </div>
        <div class="product1">
          <div class="product1__title">
            <ul>
              <li><a href="">All Jewel</a></li>
              <li><a href="">Chains </a></li>
              <li><a href="">Earrings </a></li>
              <li><a href="">Necklaces </a></li>

            </ul>
          </div>
          <div class="row product1__image">
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>
            <div class="col-3 image1">
              <img src="assets/images/small.png" alt="">
              <span>Diamond Push Pin Earrings</span>
              <p>$203</p>
            </div>

          </div>
        </div>
        <div class="blog">
          <div class="blog__title">
            <ul>
              <li><a href="">From the Blogs</a></li>

            </ul>
          </div>
          <div class="row blog__image">
            <div class="col-4 blog1">
              <img src="assets/images/blog1.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="col-4 blog1">
              <img src="assets/images/blog2.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="col-4 blog1">
              <img src="assets/images/blog3.jpg" alt="">
              <span>Date : 26 May, 2022</span>
              <p>Suspendisse posuere, diam in bibendum lobortis</p>
            </div>
            <div class="border"></div>
          </div>
        </div>
        <div class="blog2">
          <div class="row blog2__image">
            <div class="col-3 anh">
              <img src="assets/images/logo2.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/logo3.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/logo4.png" alt="">
            </div>
            <div class="col-3 anh">
              <img src="assets/images/blog5.png" alt="">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>

