<footer class="footer">
  <div class="container">
    <div class="footer_text">
      <h2>Get Our Latest Updates!</h2>
      <p>You may unsubscribe at any moment. For that purpose, please find our contact info in the legal
        notice.</p>
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="input-group">
            <input class="form-control border rounded-pill" type="search" placeholder="      search"
                   id="example-search-input">
            <span class="input-group-append">
                                <button class="btn border rounded-pill " type="button">
                                    <i>Search</i>
                                </button>
                            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
<div class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 column1">
        <div class="column1__logo"></div>
        <div class="column1__text">
          Visit our website to choose from our wide range of Gold & Diamond Jewellery.
        </div>
        <div class="colum1__icon">
          <img src="assets/images/fb.png" alt="">
          <img src="assets/images/tw.png" alt="">
          <img src="assets/images/ig.png" alt="">
          <img src="assets/images/you.png" alt="">

        </div>

      </div>
      <div class="col-2">
        <h5>Information</h5>
        <p href="">About Us</p>
        <p href="">Delivery Information</p>
        <p href="">Privacy Policy</p>
        <p href="">Terms & Conditions </p>
        <p href="">Contact Us</p>

      </div>
      <div class="col-2">
        <h5>My Account</h5>
        <p href="">Brands </p>
        <p href="">Gift Certificates</p>
        <p href="">Affiliate </p>
        <p href="">Site Map </p>
        <p href="">Specials</p>

      </div>
      <div class="col-2">
        <h5>Extras</h5>
        <p href="">Specials </p>
        <p href="">Brands </p>
        <p href="">Gift Certificates </p>
        <p href="">Affiliate</p>
        <p href="">My Account</p>

      </div>
      <div class="col-3 column__last">
        <div class="location">
          <img src="assets/images/iconLocal.svg" alt="">
          <a href=""> Ziracon - Jewelry Store
            283 N. Glen wood Street, NY 1174
            United States</a>
        </div>
        <div class="iphone">
          <img src="assets/images/iconphone.svg" alt="">
          <span>+123-456-789 / +654-123-789</span>
        </div>
        <div class="mail">
          <img src="assets/images/iconmail.svg" alt="">
          <span>support@company.com</span>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="footer2">
  <div class="container">
    <div class="row ">
      <div class="col-9">
        <p>Powered By OpenCart Ziracon - Jewelry Store © 2022 </p>
      </div>
      <div class="col-3">
        <img src="assets/images/visa1.png" alt="">
        <img src="assets/images/visa3.png" alt="">
        <img src="assets/images/visa4.png" alt="">
        <img src="assets/images/visa2.png" alt="">
        <img src="assets/images/visa6.png" alt="">


      </div>
    </div>
  </div>

</div>
