<div class="footer-1">
<!--<footer class="footer">-->
<!--  <div class="container">-->
<!--    <div class="footer_text">-->
<!--      <h2>Nhận bản cập nhật mới nhất của chúng tôi!</h2>-->
<!--      <p>Bạn có thể hủy đăng ký bất cứ lúc nào. Đối với mục đích đó, vui lòng tìm thông tin liên lạc của chúng tôi trong thông báo pháp lý.</p>-->
<!--      <div class="row">-->
<!--        <div class="col-md-6 mx-auto">-->
<!--          <div class="input-group">-->
<!--            <input class="form-control border rounded-pill" type="search" placeholder="Tìm kiếm"-->
<!--                   id="example-search-input">-->
<!--            <span class="input-group-append">-->
<!--                                <button class="btn border rounded-pill " type="button">-->
<!--                                    <i>Tìm kiếm</i>-->
<!--                                </button>-->
<!--                            </span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</footer>-->
<div class="footer1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 column1">
        <div style="display: flex; justify-content: center">        <img src="assets/images/logoUser_pre.png" style="width: 150px; " alt="">
        </div>
        <div class="column1__text">
          Ghé thăm trang web của chúng tôi để chọn từ nhiều loại đồ trang sức vàng & kim cương của chúng tôi.
        </div>
        <div class="colum1__icon">
          <img class="icon-social" src="assets/images/fb.png" alt="">
          <img class="icon-social" src="assets/images/tw.png" alt="">
          <img class="icon-social" src="assets/images/ig.png" alt="">
          <img class="icon-social" src="assets/images/you.png" alt="">

        </div>

      </div>
      <div class="col-2">
        <h5>Giới thiệu</h5>
        <p href="">Chính sách</p>
        <p href="">Dịch vụ</p>
        <p href="">Sản phẩm</p>
        <p href="">Liên lạc</p>
        <p href="">Đặt lịch</p>

      </div>
      <div class="col-2">
        <h5>Tài khoản của tôi</h5>
        <p href="">Nhãn hiệu</p>
        <p href="">Phiếu quà tặng</p>
        <p href="">Liên kết </p>
        <p href="">Bản đồ trang web</p>
        <p href="">Đặc biệt</p>

      </div>
      <div class="col-2">
        <h5>Bổ sung
        </h5>
        <p href="">Đặc biệt
        </p>
        <p href="">Nhãn hiệu
        </p>
        <p href="">Phiếu quà tặng </p>
        <p href="">Liên kết
        </p>
        <p href="">Tài khoản của tôi</p>

      </div>
      <div class="col-3 column__last">
        <div class="location">
          <img src="assets/images/iconLocal.svg" alt="">
          <a href=""> Địa chỉ cửa hàng trang sức </a>
        </div>
        <div class="iphone">
          <img src="assets/images/iconphone.svg" alt="">
          <span> 0912345678 / 0999888666</span>
        </div>
        <div class="mail">
          <img src="assets/images/iconmail.svg" alt="">
          <span> toanhuyen@gmail.com</span>
        </div>

      </div>
    </div>
  </div>

</div>
<div class="footer2">
  <div class="container">
    <div class="row ">
      <div class="col-9">
        <p>Được cung cấp bởi Toản Huyền - Cửa hàng trang sức © 2022</p>
      </div>
      <div class="col-3">
        <img src="assets/images/visa1.png" alt="">
        <img src="assets/images/visa3.png" alt="">
        <img src="assets/images/visa4.png" alt="">
        <img src="assets/images/visa2.png" alt="">
        <img src="assets/images/visa6.png" alt="">
      </div>
    </div>
  </div>
</div>
</div>
