<app-header></app-header>
<div class="body">
 <div class="container">
   <div class="exchange-insurance">
     <h1 style="text-align: center; color: #6c74eb; font-weight: bold; margin-top: 10px;">
       Chính sách bảo hành và thu đổi
     </h1>
     <div class="accordion" id="accordionExample">
       <div class="accordion-item">
         <h2 class="accordion-header" id="headingOne">
           <button
             class="accordion-button"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#collapseOne"
             aria-expanded="true"
             aria-controls="collapseOne"
           >
             <h3 style="color: #30488b">Thu đổi</h3>
           </button>
         </h2>
         <div
           id="collapseOne"
           class="accordion-collapse collapse show"
           aria-labelledby="headingOne"
           data-bs-parent="#accordionExample"
         >
           <div class="accordion-body">
             <div class="exchange p-3">
               <div class="layout-content">
                 <div>
                   <table class="table table-bordered">
                     <thead>
                     <tr>
                       <th scope="col">Trường hợp đổi</th>
                       <th scope="col">Cửa hàng thu lại</th>
                     </tr>
                     <tr>
                       <td>
                         Món mới có giá trị cao hơn hoặc bằng món cũ
                       </td>
                       <td>100% giá trị ban đầu</td>
                     </tr>
                     <tr>
                       <td>Món mới có giá trị thấp hơn món cũ</td>
                       <td>90% giá trị ban đầu</td>
                     </tr>
                     </thead>
                     <tbody></tbody>
                   </table>
                 </div>
                 <p><em>Lưu ý:</em></p>
                 <ul>
                   <li>
                     <em
                     >Đổi hàng trong 48 giờ không áp dụng đối với
                       nhóm hàng đá rời (kim cương rời, đá màu rời,
                       ngọc trai rời, vòng cẩm thạch), vàng miếng, vàng
                       tài lộc, nhẫn khoen, dòng hàng Heart to Heart,
                       hàng thiết kế theo nhu cầu riêng, sản phẩm nhẫn
                       có ni đặt lại ngoài khung chuẩn. (Nữ nhỏ hơn 6
                       và lớn hơn 16, nam nhỏ hơn 14 lớn hơn 25), vỏ
                       Platinum các loại.</em
                     >
                   </li>
                   <li>
                     <em
                     >Trang sức món thu đổi trong 48 giờ phải còn
                       nguyên vẹn, không phân biệt cùng hay khác nhóm
                       hàng, tuy nhiên không được đổi sang vàng miếng,
                       nhẫn khoen, vàng tài lộc, kim bảo cát tường,
                       trang sức tính công.</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với vỏ, sau khi đã vô hột thì khách hàng sẽ
                       chịu chi phí trồng chấu (theo quy định bảo hành
                       của cửa hàng).</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với trang sức Style, chỉ áp dụng đổi hàng
                       trong cùng dòng hàng. Không áp dụng đối với các
                       dòng hàng khác và ngược lại.</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với sản phẩm Pandora áp dụng đổi 48 giờ cho
                       hàng nguyên giá và không hoàn tiền chênh lệch
                       khi sản phẩm mới có giá trị thấp hơn. Không áp
                       dụng đổi sang các dòng hàng khác và ngược
                       lại.</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với trang sức tính công đổi sang cùng dòng
                       hàng giá công bằng hoặc cao hơn thì thu lại 100%
                       tiến công, nếu đổi sang cùng dòng hàng có giá
                       công thấp hơn hoặc sang trang sức món khác thì
                       thu 70% tiền công. Vàng thu lại theo trọng lượng
                       và giá vàng mua vào tại thời điểm hiện tại.</em
                     >
                   </li>
                   <li>
                     <em
                     >Quý khách vui lòng giữ sản phẩm nguyên vẹn,
                       chưa qua sử dụng, bao bì, thông tin hóa đơn điện
                       tử đầy đủ.</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với các cửa hàng ở trung tâm thương mại thu
                       hộ, chính sách đổi trả trong 48 giờ áp dụng giao
                       dịch ngay tại trung tâm khách hàng đã chọn mua.
                       Không áp dụng sản phẩm mới thấp hơn giá trị
                       cũ.</em
                     >
                   </li>
                 </ul>
                 <p>
                   Để tham khảo đầy đủ chính sách bảo hành và thu đổi,
                   mời khách hàng xem những nội dung sau:
                 </p>
                 <p>
                   <strong
                   >Nhóm 1: Trang sức kim cương, đá màu, ngọc trai,
                     trang sức vỏ, Ý, trang sức ngoại nhập, trang sức
                     đá CZ/ECZ, nhẫn cưới trơn, trang sức không gắn đá,
                     dây chuyền, trang sức bán theo chương trình phong
                     thủy (bao gồm dòng hàng Disney).
                   </strong>
                 </p>
                 <p>
                   <strong>Nhóm 2: Trang sức 24K, 22K.</strong>
                 </p>
                 <p>
                   <strong
                   >Nhóm 3: Các loại đá rời như kim cương, đá màu,
                     ngọc trai, vòng cẩm thạch.
                   </strong>
                 </p>
                 <p>
                   <strong
                   >Nhóm 4: Nhóm hàng Style bao gồm trang sức vàng
                     gắn kim cương, đá màu, trang sức đá CZ/ ECZ, đá
                     tổng hợp, trang sức không gắn đá, dây
                     chuyền.</strong
                   >
                 </p>
                 <p>
                   <strong>Nhóm 5: Trang sức Heart to Heart.</strong>
                 </p>
                 <p><strong>Nhóm 6: Trang sức phong thủy</strong>.</p>
                 <ul>
                   <li>
                     Trang sức vòng, lắc, da charm phong thủy, các linh
                     vật, các đồ vật mang tính phong thủy qua các năm
                   </li>
                   <li>
                     Bao lì xì: biểu tượng các con vật, đồ vật mang
                     tính phong thủy qua các năm
                   </li>
                   <li>
                     Tượng vàng 22K, 24K (dòng hàng vàng không ép
                     seal): biểu tượng mang tính phong thủy như con
                     vật, linh vật, đồ vật… qua các năm
                   </li>
                 </ul>

                 <p>Các chủng loại hàng được áp dụng tỷ lệ đổi:</p>
                 <ul>
                   <li>
                     Trang sức nhóm 1 với nhau và sang trang sức vòng,
                     lắc da charm phong thủy và ngược lại.
                   </li>
                   <li>
                     Trang sức nhóm 2 chỉ áp dụng trong trang sức nhóm
                     2.
                   </li>
                   <li>
                     Trang sức nhóm 3 chỉ áp dụng cho kim cương rời với
                     nhau và kim cương rời sang nhóm 1.
                   </li>
                   <li>Trang sức nhóm 4 với nhau.</li>
                   <li>
                     Sản phẩm CAO sang sản phẩm hoặc qua CAO trong cùng
                     nhóm hàng hoặc nhóm 3 sang nhóm 1 (nhóm 3 chỉ áp
                     dụng kim cương rời với nhau). Chỉ áp dụng tại các
                     cửa hàng có kinh doanh nhãn hàng CAO trên toàn
                     quốc.
                   </li>
                 </ul>
                 <p>
                   <em
                   >Lưu ý: Thu đổi trong trường hợp mất giấy kiểm
                     định
                   </em>
                 </p>
                 <div>
                   <table
                     class="table table-bordered align-content-center"
                   >
                     <thead>
                     <tr class="align-content-center">
                       <th>Nhóm</th>
                       <th>Còn hóa đơn</th>
                       <th>Mất hoá đơn</th>
                     </tr>
                     <tr>
                       <td>Kim cương rời</td>
                       <td>
                         Cửa hàng sẽ thu phí khách hàng mất giấy kiểm
                         định theo quy định hiện hành.
                       </td>
                       <td rowspan="3">
                         Trường hợp không xác định được, khách hàng
                         vui lòng liên hệ cửa hàng
                       </td>
                     </tr>
                     <tr>
                       <td>Món mới có giá trị thấp hơn món cũ</td>
                       <td>90% giá trị ban đầu</td>
                     </tr>
                     <tr>
                       <td nowrap="nowrap">
                         Ngọc trai &amp; đá màu
                       </td>
                       <td>
                         Cửa hàng sẽ kiểm tra sản phẩm còn nguyên vẹn
                         tình trạng ban đầu
                       </td>
                     </tr>
                     <tr>
                       <td>
                         Sản phẩm không xác định hoặc có giá trị cao
                       </td>
                       <td>Liên hệ cửa hàng</td>
                     </tr>
                     </thead>
                     <tbody></tbody>
                   </table>
                 </div>
                 <ul>
                   <li>
                     <em
                     >Chế độ bảo hành và thu đổi chỉ áp dụng cho các
                       sản phẩm thuộc hệ thống cửa hàng kênh lẻ, online
                       của cửa hàng. Có thể thay đổi theo chính sách
                       của cửa hàng đối với các dòng hàng và chương
                       trình ưu đãi tại từng thời điểm.</em
                     >
                   </li>
                   <li>
                     <em
                     >Cửa hàng chỉ thực hiện trích lục hóa đơn/ thu
                       mua lại hàng hóa cho khách hàng chính chủ.
                       Trường hợp không phải chính chủ phải có ủy quyền
                       hoặc xác nhận của chính chủ hoặc người yêu cầu
                       trích lục cam kết sản phẩm bán lại cho cửa hàng
                       hợp pháp và chịu trách nhiệm khi tranh chấp. Cửa
                       hàng không có nghĩa vụ liên quan khi phát sinh
                       tranh chấp.</em
                     >
                   </li>
                   <li>
                     <em
                     >Quý khách vui lòng cung cấp giấy tờ tùy thân có
                       ảnh khi yêu cầu cửa hàng hỗ trợ trích lục hóa
                       đơn.</em
                     >
                   </li>
                   <li>
                     <em
                     >Sản phẩm không có hóa đơn/ không trích lục được
                       hóa đơn/ khách hàng không xác minh được sản phẩm
                       bán cho cửa hàng là hợp pháp/ không có cở sở xác
                       định sản phẩm không phải sản phẩm của cửa hàng.
                       Cửa hàng sẽ không áp dụng chính sách thu đổi
                       theo quy định hiện hành hoặc có thể từ chối thu
                       đổi.</em
                     >
                   </li>
                   <li>
                     <em
                     >Đối với sản phẩm/ hóa đơn thanh toán qua thẻ,
                       ví điện tử, trả góp cửa hàng sẽ chi trả tiền mua
                       lại hàng hóa bằng chuyển khoản vào tài khoản
                       thẻ/ ví điện tử/ tài khoản ví điện tử đã thanh
                       toán hoặc tài khoản khách hàng chỉ định và được
                       đáp ứng khi cửa hàng đủ điều kiện về nguồn tiền
                       tại chỗ, điều chuyển nguồn tiền tại thời điểm và
                       theo cơ chế hoạt động của hệ thống ngân
                       hàng.</em
                     >
                   </li>
                   <li>
                     <em
                     >Cửa hàng Tân Sơn Nhất Quốc Tế không áp dụng các
                       chính sách bảo hành, thu đổi và 48 giờ.</em
                     >
                   </li>
                   <li>
                     <em
                     >Trường hợp cần hỗ trợ thêm khách hàng vui lòng
                       liên hệ trực tiếp qua hotline
                       <a href="http://1800 75 75 75">1800 75 75 75</a>
                       để được hỗ trợ nhanh chóng.</em
                     >
                   </li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
       <div class="accordion-item">
         <h2 class="accordion-header" id="headingTwo">
           <button
             class="accordion-button collapsed"
             type="button"
             data-bs-toggle="collapse"
             data-bs-target="#collapseTwo"
             aria-expanded="false"
             aria-controls="collapseTwo"
           >
             <h3 style="color: #30488b">Bảo hành</h3>
           </button>
         </h2>
         <div
           id="collapseTwo"
           class="accordion-collapse collapse"
           aria-labelledby="headingTwo"
           data-bs-parent="#accordionExample"
         >
           <div class="accordion-body">
             <div class="insurance p-3">
               <div class="layout-content">
                 <p><strong>Trang sức vàng, platinum</strong></p>
                 <ul>
                   <li>
                     Bảo hành 6 tháng lỗi kỹ thuật, nước xi, sau 6
                     tháng tính phí theo mức phí.
                   </li>
                   <li>
                     Bảo hành miễn phí đánh bóng, siêu âm vô thời hạn,
                     thay đá tổng hợp, CZ và ECZ trong suốt thời gian
                     bảo hành.
                   </li>
                   <li>
                     Đối với sản phẩm bị oxy hóa, xuống màu sẽ được
                     siêu âm làm sạch bằng máy chuyên dụng (siêu âm,
                     không xi) miễn phí vĩnh viễn tại cửa hàng.
                   </li>
                   <li>
                     Nhẫn cưới bảo hành khắc chữ, làm mới, đánh bóng,
                     xi miễn phí trọn đời, ngoại trừ bù thêm nguyên
                     liệu vàng, platinum hoặc thay thế đá màu, ngọc
                     trai, kim cương.
                   </li>
                   <li>
                     Trang sức Ý nhập : Bảo hành nước xi miễn phí 6
                     tháng. Sau 6 tháng tính phí theo mức phí quy định.
                   </li>
                   <li>
                     Không bảo hành kiềng, vòng, nữ trang 22K, 24K, dây
                     chuyền, dây cổ chế tác, lắc chế tác bị đứt, gãy và
                     sản phẩm bị lỗi do tác động bên ngoài, do quá
                     trình sử dụng hoặc sử dụng không đúng cách dẫn đến
                     sản phẩm bị biến dạng hoặc hư hỏng, mất họa tiết
                     phụ, họa tiết nhỏ, rớt mất đá màu, ngọc trai, kim
                     cương.
                   </li>
                 </ul>
                 <p><strong>Trang sức bạc</strong></p>
                 <ul>
                   <li>
                     Thay miễn phí đá tổng hợp trong suốt thời gian sản
                     phẩm được bảo hành.
                   </li>
                   <li>
                     Miễn phí siêu âm làm sạch bằng máy chuyên dụng
                     (không xi) đối với sản phẩm xuống màu.
                   </li>
                   <li>
                     Miễn phí bảo hành 3 tháng đầu về mặt kỹ thuật, rớt
                     đá, nước xi.
                   </li>
                   <li>
                     Bảo hành có phí với sản phẩm từ tháng 4 đến hết
                     tháng thứ 12.
                   </li>
                 </ul>
                 <p><em>Lưu ý:</em></p>
                 <ul>
                   <li>Không nhận bảo hành sản phẩm trên 12 tháng.</li>
                   <li>
                     Đối với dòng sản phẩm charm DIY chỉ nhận bảo hành
                     trong các trường hợp: Sản phẩm là mẫu bạc hoàn
                     toàn (không gắn đá, nhựa, thủy tinh) hoặc mẫu bạc
                     có phủ colorit.
                   </li>
                 </ul>
                 <p><strong>Trang sức Bạc Pandora</strong></p>
                 <ul>
                   <li>
                     Chỉ nhận bảo hành các sản phẩm Pandora do cửa hàng
                     kinh doanh.
                   </li>
                   <li>
                     Bảo hành miễn phí trọn đời và làm sạch bằng máy
                     siêu âm chuyên dụng.
                   </li>
                   <li>
                     Bảo hành miễn phí đối với lỗi sản xuất, lỗi kỹ
                     thuật trong vòng 90 ngày kể từ ngày mua.
                   </li>
                   <li>
                     Trường hợp mất hóa đơn (nếu có) và có thể truy
                     xuất thời gian xuất bán sẽ nhận bảo hành.&nbsp;
                   </li>
                 </ul>
                 <p>
                   <em
                   >Lưu ý: Không bảo hành trong các trường hợp
                     sau:</em
                   >
                 </p>
                 <ul>
                   <li>
                     <em
                     >Charm thủy tinh, charm da, charm nhựa, charm vẽ
                       màu.
                     </em>
                   </li>
                   <li><em>Lắc, vòng charm bị đứt, gãy.</em></li>
                   <li>
                     <em
                     >Sản phẩm mất chi tiết phụ, mất đá, bể, mẻ, nứt
                       đá, hao mòn, biến dạng hoặc hư hỏng nặng trong
                       quá trình sử dụng hoặc sử dụng không đúng
                       cách.</em
                     >
                   </li>
                 </ul>
               </div>
             </div>
           </div>
         </div>
       </div>
     </div>
   </div>

 </div>
</div>
<app-footer></app-footer>
