<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="home">
        <p class="text__login" aria-current="page">Đăng nhập</p>
    </div>
    <div class="formLogin">
      <div class="row">
        <div class="col-6 formLogin__text ">
          <div class="high">
            <p>Người dùng mới</p>
          </div>
          <div class="medium">
            <p>Đăng ký tài khoản</p>
          </div>
          <div class="small">
            <p> Tạo tài khoản, bạn sẽ có thể mua sắm nhanh hơn, cập nhật đơn hàng
              trạng thái và theo dõi các đơn đặt hàng bạn đã thực hiện trước đó. </p>
          </div>
          <div class="button">
            <a href="">Đăng ký</a>
          </div>
        </div>
        <div class="col-6 formLogin__text ">
          <form [formGroup]="loginForm" (ngSubmit)="submitForm()">
          <div class="high">
            <p>Đăng nhập</p>
          </div>
          <div class="medium">
          </div>
          <div class="content">
            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Tài khoản</label>
              <input type="email" placeholder="Tài khoản" formControlName="userName" class="form-control"
                     id="exampleInputEmail1" aria-describedby="emailHelp">
                     <ng-container *ngIf="loginForm.get('userName')?.touched || loginForm.get('userName')?.dirty">
                      <span class="text-danger" *ngIf="loginForm.get('userName')?.hasError('required')">
                        <small>{{ 'Tài khoản không để trống'}}</small>
                      </span>
                    </ng-container>
            </div>
            <div class="mb-3">
              <label for="exampleInputPassword1" class="form-label"> Mật khẩu</label>
              <input type="password" placeholder="Mật khẩu" formControlName="password" class="form-control"
                     id="exampleInputPassword1">
                     <ng-container *ngIf="loginForm.get('password')?.touched || loginForm.get('password')?.dirty">
                      <span class="text-danger" *ngIf="loginForm.get('password')?.hasError('required')">
                        <small>{{ 'Mật khẩu không để trống' }}</small>
                      </span>
                    </ng-container>
            </div>
            <div class="mb-3 ">
            </div>
            <div class="">
              <button id="button"
              [disabled]="this.loginForm.invalid">
               {{ 'Đăng nhập' }}
             </button>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
