<app-header></app-header>
<div class="container">
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submitForm()">
    <h2>Đặt lịch lấy sản phẩm tại cửa hàng</h2>
    <p>Bạn hãy điền đầy đủ thông tin để đặt lịch hẹn nhé</p>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzRequired nzFor="email">Họ và tên</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="The input is not valid E-mail!">
        <input nz-input formControlName="email" id="email" />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="password" nzRequired>Số điện thoại</nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please input your password!">
        <input
          nz-input
          type="password"
          id="password"
          formControlName="password"
        />
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label [nzSm]="4" [nzXs]="24" nzFor="checkPassword" nzRequired>Thời gian</nz-form-label>
      <nz-date-picker [(ngModel)]="date" (ngModelChange)="onChange($event)"></nz-date-picker>
    </nz-form-item>
    <nz-form-item>
      <nz-form-label
        [nzSm]="4"
        [nzXs]="24"
        nzFor="nickname"
        nzRequired
        nzTooltipTitle="What do you want other to call you"
      >
        <span>Code sản phẩm</span>
      </nz-form-label>
      <nz-form-control [nzSm]="18" [nzXs]="24" nzErrorTip="Please input your nickname!">
        <input nz-input id="nickname" formControlName="nickname" />
      </nz-form-control>
    </nz-form-item>


    <nz-form-item nz-row class="register-area">
      <nz-form-control [nzSpan]="14" [nzOffset]="6">
        <button nz-button nzType="primary" style="text-align: center; padding: 10px 40px; background: #F3AE7E; border-radius: 20px">Register</button>
      </nz-form-control>
    </nz-form-item>
  </form>
  <app-footer></app-footer>

</div>
