<app-header></app-header>
<div class="container">
  <div class="return">
  <h4 class="title"> Trả Hàng</h4>
  <hr>
  <div class="product__select row">
    <div class="col-12">
      <p class="pls">Vui lòng chọn sản phẩm để trả</p>
      <div class="brand">
        <img src="../../../../../assets/images/chanel.jpg" alt="">
        <p class="">Nhattincomputer.net</p>
      </div>
      <div class="list__product row">
        <div class="col-6 product__detail">
          <input type="checkbox" name="" id="">
          <img src="../../../../../assets/images/icon3.jpg" alt="">
          <p>Dây chuyền vàng cao cấp phái mạnh

          </p>
          <p class="text--small">Phân loại: Vàng trắng</p>
        </div>
        <div class="col-6 product__priceandamount">
          <p class="amount">x 1</p>
          <p class="price">72.600đ</p>
        </div>
      </div>
      <div class="list__product row">
        <div class="col-6 product__detail">
          <input type="checkbox" name="" id="">
          <img src="../../../../../assets/images/icon3.jpg" alt="">
          <p>Dây chuyền vàng cao cấp phái mạnh

          </p>
          <p class="text--small">Phân loại: Vàng trắng</p>
        </div>
        <div class="col-6 product__priceandamount">
          <p class="amount">x 1</p>
          <p class="price">72.600đ</p>
        </div>
      </div>
      <div class="noteAndimage ">
        <div class="noteAndimage__title">
          <p>Lý do</p>
        </div>
        <div class="noteAndimage__image">
          <input type="file" id="file" accept="image/*" hidden>
          <div class="img-area" data-img="">
            <i class="fas fa-cloud-upload-alt"></i>
            <h3>Upload Image</h3>
            <p>Image size must be less than <span>2MB</span></p>
          </div>
          <button class="select-image">Select Image</button>
        </div>
        <div class="noteAndimage__note">
          <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" placeholder="Nhập lý do cụ thể ở đây. Hãy 'Thêm hình ảnh' chỉ rõ lỗi của sản phẩm, mã đơn sai, lỗi đóng gói..."></textarea>
        </div>

      </div>
      <div class="email">
        <p class="email__title">Tài khoản của bạn: </p>
        <p class="email__self">toandd@gmail.com</p>
      </div>
      <div class="button">
        <a class="button__text" href="#">Hoàn thành</a>
      </div>

    </div>
  </div>
</div>
  <app-footer></app-footer>
</div>
