<app-header></app-header>
<div class="body">
  <div class="container">
    <div class="home">
      <p class="text__login" aria-current="page">Đăng ký</p>
    </div>
    <div class="formLogin">
      <form [formGroup]="validateForm" (ngSubmit)="Dangky()">
        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="userName"> Họ và tên</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input nz-input formControlName="fullName" id="userName" type="text" />
            <ng-container *ngIf="validateForm.get('fullName')?.touched || validateForm.get('fullName')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('fullName')?.hasError('required')">
                <small>{{'Họ và tên trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="fullName">Tên đăng nhập</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input nz-input formControlName="userName" id="fullName" type="text" />
            <ng-container *ngIf="validateForm.get('userName')?.touched || validateForm.get('userName')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('userName')?.hasError('required')">
                <small>{{'Tên đăng nhập trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="phoneNumber"> Số điện thoại</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24">
            <input nz-input formControlName="phoneNumber" id="phoneNumber" type="text" />
            <ng-container *ngIf="validateForm.get('phoneNumber')?.touched || validateForm.get('phoneNumber')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('phoneNumber')?.hasError('required')">
                <small>{{'Số điện thoại trống hoặc không đúng'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email">Email</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input nz-input formControlName="email" id="email" type="text" />
            <ng-container *ngIf="validateForm.get('email')?.touched || validateForm.get('email')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('email')?.hasError('required')">
                <small>{{'Email trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="email"> Giới tinh</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <nz-radio-group formControlName="gender">
              <label nz-radio nzValue="MALE">Nam</label>
              <label nz-radio nzValue="FEMALE">Nữ</label>
            </nz-radio-group>

          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="birthday">Ngày sinh</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input  type="date" formControlName="birthday" id="birthday" style="width: 100%;"/>
            <ng-container *ngIf="validateForm.get('birthday')?.touched || validateForm.get('birthday')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('birthday')?.hasError('required')">
                <small>{{'Ngày sinh trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label style="margin-top: 10px" [nzSm]="8" [nzXs]="24" nzRequired nzFor="birthday">Địa chỉ</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <form [formGroup]="validateForm" action="#" target="_blank">
              <div class="row">
                <div class="col-4 mb-2">
                  <nz-select
                    nzBorderless
                    [nzShowSearch]="true"
                    formControlName="province"
                    (ngModelChange)="this.getDistrist($event)"
                    nzPlaceHolder="{{
                               'Tỉnh,Thành phố'
                              }}"
                  >

                    <ng-container *ngFor="let item of province">
                      <nz-option   [nzLabel]="item.ProvinceName"
                                   [nzValue]="item.ProvinceID"></nz-option>
                    </ng-container>
                  </nz-select>
                </div>
                <div class="col-4 mb-2">

                  <nz-select
                    formControlName="district"
                    removeOptionTitle
                    nzBorderless
                    (ngModelChange)="getWard($event)"
                    nzPlaceHolder="{{
                                'Quận,Huyện'
                              }}"
                  >
                    <nz-option
                      *ngFor="let item of this.distrist"
                      [nzLabel]="item.DistrictName"
                      [nzValue]="item.DistrictID"
                    >

                    </nz-option>
                  </nz-select>

                </div>
                <div class="col-4 mb-2">

                  <nz-select
                    formControlName="ward"
                    nzBorderless
                    removeOptionTitle
                    nzPlaceHolder="{{
                              'Phường,Xã'
                            }}"
                  >
                    <nz-option
                      *ngFor="let item of this.ward"
                      [nzLabel]="item.WardName"
                      [nzValue]="item.WardCode"
                    >

                    </nz-option>
                  </nz-select>
                </div>
                <div class="col-lg-12 col-md-5">
                  <textarea nz-input cols="30" rows="5"formControlName="addressDetail" placeholder="Địa chỉ chi tiết"></textarea>
                  <ng-container *ngIf="validateForm.get('addressDetail')?.touched || validateForm.get('addressDetail')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('addressDetail')?.hasError('required')">
                <small>{{'Địa chỉ chi tiết không được để trống'}}</small>
              </span>
                  </ng-container>
                </div>
              </div>
            </form>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="password">Mật khẩu</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input nz-input formControlName="password"  type="password" id="password" />
            <ng-container *ngIf="validateForm.get('password')?.touched || validateForm.get('password')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('password')?.hasError('required')">
                <small>{{'Mật khẩu trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>

        <nz-form-item>
          <nz-form-label [nzSm]="8" [nzXs]="24" nzRequired nzFor="confirmPassword">Xác nhận mật khẩu</nz-form-label>
          <nz-form-control [nzSm]="10" [nzXs]="24" >
            <input nz-input formControlName="confirmPassword" type="password" id="confirmPassword" />
            <ng-container *ngIf="validateForm.get('confirmPassword')?.touched || validateForm.get('confirmPassword')?.dirty ">
              <span class="text__red" *ngIf="validateForm.get('confirmPassword')?.hasError('required')">
                <small>{{'Xác nhận mật khẩu trống'}}</small>
              </span>
            </ng-container>
          </nz-form-control>
        </nz-form-item>
<!--        <app-upload-image-->
<!--          [customSizeImg]="false"-->
<!--          [acceptTypeFiles]="['image']"-->
<!--          (emitter)="getFiles($event)"-->
<!--          [alternateImageUrl]="'assets/images/User.jpg'"-->
<!--          className="image"-->
<!--          nzTooltipPlacement="top"-->
<!--          nz-tooltip-->
<!--        >-->
<!--        </app-upload-image>-->

        <nz-form-item nz-row class="register-area">
          <nz-form-control >
            <button nz-button nzType="primary" [disabled]="!validateForm.valid"  style="display: flex; align-items: center; margin: 20px auto auto; padding: 20px 50px; background: #F3AE7E; border-radius: 20px; border: 1px solid #F3AE7E">Đăng ký</button>
          </nz-form-control>
        </nz-form-item>
      </form>
    </div>


  </div>
</div>
<app-footer></app-footer>
