body {
  padding: 0px;
  margin: 0px;
}

a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 20px;

}
li {
  list-style: none;
}


/* header */
header {
  background-color: #E2BEA8;
}

.container {
  width: 1400px;
  margin: auto;
  padding: 0;
}

.header__menu ul {
  display: flex;
  padding-left: 0;
}

ul li {
  list-style: none;
  font-size: 20px;
}

.header__menu ul li {
  list-style: none;
  font-size: 20px;
  padding: 15px 100px 0 0;
}


.header__container {
  display: flex;
  background-color: #E2BEA8;
}

a:hover {
  color: black;
}

.header__login {
  display: inline-flex;
  margin-left: auto;
  padding-top: 15px ;

}

.header__login-2 {
  margin-left: 50px;
  color: #FFFFFF;
}

.btn {
  background-color: #01996D;
  color: white;
  padding: 20px 50px;
  border-radius: 5px;
  font-size: 20px;
}

/* ----------------header 2------------ */
.header2 {
  border-bottom: 1px solid rgb(209, 199, 199);
}

.header2__container {
  display: flex;
  align-items: center;

}

.header__logo {
  padding: 20px 0 20px 0;
}
.header__account{
  background-color: #F8F8F8;
  padding: 10px;
}
.header__account .row .account{
  padding-left: 50px;
}
.header__account .row img{
  margin: 0 10px 8px 0;
  width: 15px;
}
.header__account .ac {
  padding-left: 60px;
}
.header__account .row a{
  color: black;
  font-size: 15px;
}
.header__account .row a:hover{
  color: #F3AE7E;

}
.header__account .lineDoc {

  border-left: 1px solid black;
}
.text__login {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
}
/* ----------Home--------------- */
.home {
  position: relative;
}
.breadcrumb  {
  font-size: 16px;
  font-weight: 600;
}
.breadcrumb {
  position: absolute;
  left: 520px;
  top: 15px;
}
.home  {
  height: 50px;
  background-color: #F1EAE1;

}
.formLogin {
  width: 98%;
  margin: auto;
  margin-top: 30px;
}
.formLogin__text .high {
  font-weight: 700;
  font-size: 20px;
}
.formLogin__text .medium {
  font-weight: 600;
  font-size: 15px;
}
.formLogin__text .small {
  font-size: 13px;
}
.button {
  margin-top: 30px;
}
.button a{
  border: 1px solid #FFFFFF;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 50px;
  padding: 15px 30px;
  background-color: #CBB28B ;
  font-weight: 600;
}
.mb-3 input{
  border-radius: 50px;
}


/* ---------------footer ------------- */
.footer {
  margin-top: 40px;
  min-height: 350px;
  text-align: center;
  background-image: url(/images/footer2.jpg);

}

.footer_text {
  font-family: system-ui;
  padding-top: 50px;
  list-style: none;
}
.footer_text .input-group span .btn{
  color: #000;
  background-color:#F3AE7E ;
}
/* --------------footer1--------------- */
.footer1{
  min-height: 400px;
  padding-top: 100px;

}
.column1 .column1__logo {
  height: 55px;
  background-image: url(/images/logo.png);
  background-repeat: no-repeat;
}
.footer1 a{
  color: #000;
  font-size: 15px;
}
.column1 .column1__text{
  font-size: 15px;
  margin: 20px 0 20px 0;
}
.column1 .column1__text{
  font-size: 15px;
  margin: 20px 0 20px 0;
}
.column__last {
  float: left;
}
.column__last img{
  width: 25px;
  height: 25px;
}
.iphone{
  padding: 40px 0 40px 0 ;
}

/* ----------footer2------------- */
.footer2{
  height: 50px;
  background-color: #E2BEA8;
  color: #FFFFFF;
  padding-top: 15px;
}
.width {
  display: flex;
  align-items: center;
  width: 700px;
  margin: auto;

  label {
    display: flex;
    align-items: center;
  }
  .red {
    font-size: 18px;
    color: red;
  }
}
.dangky {
  display: flex;
  width: fit-content;
  margin: auto;
  padding: 10px 40px;
  background-color:#F3AE7E ;
  border: 1px solid #F3AE7E;
  &:hover {
    background-color:#F3AE7E ;
    border: 1px solid #F3AE7E;

  }
}
