.payment
{
  border:1px solid #f2f2f2;
  height:280px;
  border-radius:20px;
  background:#fff;
}
.payment_header
{
  background:#CBB28B;
  padding:20px;
  border-radius:20px 20px 0px 0px;

}

.check
{
  margin:0px auto;
  width:50px;
  height:50px;
  border-radius:100%;
  background:#fff;
  text-align:center;
  color: #4DC7A0;
}

.check i
{
  vertical-align:middle;
  line-height:50px;
  font-size:30px;
}

.content
{
  text-align:center;
}

.content  h1
{
  font-size:25px;
  padding-top:25px;
}

.content a
{
  width:200px;
  height:35px;
  color:#fff;
  border-radius:30px;
  padding:5px 10px;
  background:#CBB28B;
  transition:all ease-in-out 0.3s;
  text-decoration:none;
}

.content a:hover
{
  text-decoration:none;
  background:#000;
}
