<app-header></app-header>
<div class="container">
  <div class="row">
    <div class="col-2 info__account">
      <app-menu-user></app-menu-user>
    </div>
    <div class="info-user col-10">
      <h3 class="ms-3 mt-3">Hồ sơ cá nhân</h3>
      <p class="ms-3">Quản lý thông tin hồ sơ để bảo mật tài khoản</p>
      <form class="row" [formGroup]="userForm"  (submit)="updateUser()">
        <div class=" col-md-8 ms-4 mt-2">
          <input type="text" class="form-control" formControlName="userName" [(ngModel)]="users.userName" hidden/>
          <input type="text" class="form-control" formControlName="password" [(ngModel)]="users.password" hidden/>
          <input type="text" class="form-control" formControlName="confirmPassword" [(ngModel)]="users.password" hidden/>
          <input type="text" class="form-control" formControlName="note" [(ngModel)]="users.note" hidden/>


          <div class="row mt-3 mb-3">
            <label class="col-md-3">Họ và tên</label>
            <div class="col-md-6">
              <input type="text" class="form-control" formControlName="fullName" [(ngModel)]="users.fullName"/>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <label class="col-md-3">Email</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="email" formControlName="email" [(ngModel)]="users.email" />
<!--              <div *ngIf="f.email.invalid && (f.email.dirty || f.email.touched)">  &lt;!&ndash; dirty: có thay đổi trong angular&ndash;&gt;-->
<!--                <div *ngIf="f.email.errors">-->
<!--                  <div *ngIf="f.email.errors.required">-->
<!--                    <small>Email không được để trống</small>-->
<!--                  </div>-->
<!--                  <div *ngIf="f.email.errors.email">-->
<!--                    <small>Email không đúng định dạng</small>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->

            </div>
          </div>
          <div class="row mt-3 mb-3">
            <label class="col-md-3">Địa chỉ</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="address" formControlName="address" [(ngModel)]="users.address"/>
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <label class="col-md-3">Giới tính</label>
            <div class="col-md-6">
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" formControlName="gender" value="MALE" [(ngModel)]="users.gender">
                <label class="form-check-label" for="inlineRadio1">Nam</label>
              </div>
              <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" formControlName="gender" value="FEMALE" [(ngModel)]="users.gender">
                <label class="form-check-label" for="inlineRadio2">Nữ</label>
              </div>
            </div>
          </div>


          <div class="row mt-3 mb-3">
            <label class="col-md-3">Số điện thoại</label>
            <div class="col-md-6">
              <input type="text" class="form-control" name="phoneNumber" formControlName="phoneNumber" [(ngModel)]="users.phoneNumber" />
            </div>
          </div>
          <div class="row mt-3 mb-3">
            <label class="col-md-3">Ngày sinh</label>
            <div class="col-md-6">
              <input type="date" class="form-control" name="birthday" formControlName="birthday" [(ngModel)]="users.birthday" >
            </div>
          </div>
          <div class="row mb-3">
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <button type="submit" class="btn btn-danger" [disabled]="!userForm.valid">Lưu</button>
            </div>
          </div>

        </div>
        <div class="avata col-md-3" style="text-align: center">
          <div class="image-avatar mt-3">
            <img src="../../../../../assets/images/User.jpg" />
          </div>
          <div class="mt-3">
            <div class="file-upload btn btn-lg btn btn-light">
              Upload
              <input type="file" name="file" formControlName="imageUrl" [(ngModel)]="users.imageUrl" />
            </div>
            <p>Dung lượng tối đa 1mb</p>
          </div>
        </div>

      </form>

    </div>
  </div>
  <app-footer></app-footer>

</div>

