<app-header></app-header>
<div class="container">
<div class="row">
  <div class="col-3 body__aside">
    <div class="card card__header">
      <div class="card-header">
        <img src="../../../../assets/images/3.png" alt="">
        All Categories
      </div>
      <div class="card-body">
        <div class="accordion accordion-flush" id="accordionFlushExample">
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingOne">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseOne" aria-expanded="false"
                      aria-controls="flush-collapseOne">
                All categories
              </button>
            </h2>
            <div id="flush-collapseOne" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the first item's
                accordion body.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingTwo">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseTwo" aria-expanded="false"
                      aria-controls="flush-collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="flush-collapseTwo" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the second item's
                accordion body. Let's imagine this being filled with some actual content.</div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header" id="flush-headingThree">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                      data-bs-target="#flush-collapseThree" aria-expanded="false"
                      aria-controls="flush-collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="flush-collapseThree" class="accordion-collapse collapse"
                 aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
              <div class="accordion-body">Placeholder content for this accordion, which is intended to
                demonstrate the <code>.accordion-flush</code> class. This is the third item's
                accordion body. Nothing more exciting happening here in terms of content, but just
                filling up the space to make it look, at least at first glance, a bit more
                representative of how this would look in a real-world application.</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card ">
      <div class="card-header">
        <img src="./../../../assets/images/3.png" alt="">
        Refine Search
      </div>
      <div class="accordion" id="accordionPanelsStayOpenExample">
        <div class="accordion-item">
          <div class="accordion-header">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree"
                    aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
              Color
            </button>
          </div>
          <div id="collapseThree" class="accordion-collapse collapse show"
               aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body pt-0 grid-container">
              <div>
                <input type="checkbox" class="check-box"> Yellow
              </div>
              <div>
                <input type="checkbox" class="check-box"> White
              </div>
              <div>
                <input type="checkbox" class="check-box"> Red
              </div>
              <div>
                <input type="checkbox" class="check-box"> Blue
              </div>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" >
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree1"
                    aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
              Price
            </button>
          </div>
          <div id="collapseThree1" class="accordion-collapse collapse show"
               aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body pt-0 grid-container">
              <div>
                <input type="checkbox" class="check-box"> $50.00 - $200.000
              </div>
              <div>
                <input type="checkbox" class="check-box"> $201.000 - $500.00
              </div>
              <div>
                <input type="checkbox" class="check-box"> $501.00 - $800.00
              </div>
              <div>
                <input type="checkbox" class="check-box"> $801.000 - $1000.00
              </div>

            </div>
          </div>
        </div>
        <div class="accordion-item">
          <div class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button"
                    data-bs-toggle="collapse" data-bs-target="#collapseThree2"
                    aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
              Size
            </button>
          </div>
          <div id="collapseThree2" class="accordion-collapse collapse show"
               aria-labelledby="headingThree" data-bs-parent="#accordionExample">
            <div class="accordion-body pt-0 grid-container">
              <div>
                <input type="checkbox" class="check-box"> XL
              </div>
              <div>
                <input type="checkbox" class="check-box"> L
              </div>
              <div>
                <input type="checkbox" class="check-box"> M
              </div>
              <div>
                <input type="checkbox" class="check-box"> S
              </div>

            </div>
          </div>
        </div>
        <div class="button__search ">
          <a href="#">REFIRE SEARCH</a>
        </div>
      </div>
    </div>

    <div class="card">
      <div class="card-header">
        <img src="./../../../assets/images/3.png" alt="">
        Best Sellers
      </div>
      <div class="row card-body ">
        <div class="card-title col-5 card1__image "><img src="./../../../assets/images/icon11.jpg" alt=""></div>
        <div class="col-7">
          <p class="card-text ">Gold Croissant Hoop Earrings</p>
          <p>$19.00</p>
        </div>
      </div>
      <div class="row card-body ">
        <div class="card-title col-5 card1__image "><img src="./../../../assets/images/icon11.jpg" alt=""></div>
        <div class="col-7">
          <p class="card-text ">Gold Croissant Hoop Earrings</p>
          <p>$19.00</p>
        </div>
      </div>
      <div class="row card-body ">
        <div class="card-title col-5 card1__image "><img src="./../../../assets/images/icon2.jpg" alt=""></div>
        <div class="col-7">
          <p class="card-text ">Gold Croissant Hoop Earrings</p>
          <p>$19.00</p>
        </div>
      </div>
      <div class="row card-body ">
        <div class="card-title col-5 card1__image "><img src="./../../../assets/images/icon3.jpg" alt=""></div>
        <div class="col-7">
          <p class="card-text ">Gold Croissant Hoop Earrings</p>
          <p>$19.00</p>
        </div>
      </div>

    </div>
  </div>
  <div class="col-9 body__article">
      <div id="header-carousel" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active" style="height: 410px;">
            <img class="img-fluid" src="assets/images/banner2.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Fashionable Dress</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
          <div class="carousel-item" style="height: 410px;">
            <img class="img-fluid" src="assets/images/banner1.jpg" alt="Image">
            <div class="carousel-caption d-flex flex-column align-items-center justify-content-center">
              <div class="p-3" style="max-width: 700px;">
                <h4 class="text-light text-uppercase font-weight-medium mb-3">10% Off Your First Order</h4>
                <h3 class="display-4 text-white font-weight-semi-bold mb-4">Reasonable Price</h3>
                <a href="" class="btn btn-light py-2 px-3">Shop Now</a>
              </div>
            </div>
          </div>
        </div>
        <a class="carousel-control-prev" href="#header-carousel" data-slide="prev">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-prev-icon mb-n2"></span>
          </div>
        </a>
        <a class="carousel-control-next" href="#header-carousel" data-slide="next">
          <div class="btn btn-dark" style="width: 45px; height: 45px;">
            <span class="carousel-control-next-icon mb-n2"></span>
          </div>
        </a>
      </div>
    <div class="refineSearch">
      <div class="refineSearch__title">
        <h3>Refine Search</h3>
      </div>
      <div class="row refineSearch__image">
        <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2 col-xl-2 image1">
          <a href=""><img src="./../../../assets/images/daychuyen.jpg" alt=""></a>
          <a href="">Chains</a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2 col-xl-2 image1">
          <a href=""><img src="./../../../assets/images/Matdaychuyen.jpg" alt=""></a>
          <a href="">Pendants</a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2 col-xl-2 image1">
          <a href=""><img src="./../../../assets/images/allproductKhuyen.jpg" alt=""></a>
          <a href="">Pendants</a>
        </div>
        <div class="col-xs-3 col-sm-2 col-md-3 col-lg-2 col-xl-2 image1">
          <a href=""> <img src="./../../../assets/images/small2.png" alt=""></a>
          <a href="">Earrings</a>
        </div>

      </div>
    </div>
    <div class="sort">
      <div class="row sortAll">
        <div class="col-6 sort1 sort__title">Product Compare (0)</div>
        <div class="col-6 sort1">
          <div class="row sort-by-wrapper">
            <div class="col-7 text-right sort-by">
              <div class="row">
                <div class="col-4">
                  <label class="sort__title" >Sort By </label>
                </div>
                <div class="col-8">
                  <select class="form-select" aria-label="Default select example">
                    <option selected>None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>

            </div>
            <div class="col-5 text-right sort">
              <div class="row">
                <div class="col-3">
                  <label class="sort__title" >Show </label>
                </div>
                <div class="col-7">
                  <select class="form-select" aria-label="Default select example">
                    <option selected> None</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="product1">

        <div class="row product1__image ">
          <div class="col-3 image1" *ngFor="let product of products">
            <img [src]="product.productImages ? product.productImages[0].imageUrl : null" (click)="showProductDetail(product)" alt="">
            <div class="image1__content">
              <span class="product-name" (click)="showProductDetail(product)">{{product.nameProduct}}</span>
              <p>{{product.productSizes ? product.productSizes[0].salePrice : null}}</p>
            </div>
          </div>
        </div>
      </div>
      <div class="pagination-wrapper cat-content">
        <div class="col-sm-6 text-left page-result">Showing 1 to 12 of 19 (2 Pages)</div>
        <div class="col-sm-6 text-right page">
          <div class="pagination">
            <a href="#">&laquo;</a>
            <a href="#" class="active">1</a>
            <a href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#">6</a>
            <a href="#">&raquo;</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
</div>
